/*--------------------------------------------------------------
1.0 Genericons 일반
----------------------------------------------------------------*/
	h2 { font-size:24px;}
	h3 { font-size:20px;}
	h4 { font-size:18px;}
	h5 { font-size:16px;}
	h6 { font-size:14px;}
	/* 1.2 Genericons 일반 */
		@media (max-width:800px){
			.halfW {float:none; width:inherit}
		}
	/* 1.3 box 박스 요소 */
		/* 1.3.1 폭 조절 */
/*--------------------------------------------------------------
3.0 Layout Desgin : 레이아웃 디자인
----------------------------------------------------------------*/
	.page, .cl-popup-overlay, .inner-wrap, 
	.header>.area-top,
	.header .gnb,
	.body,
	.body>.area-contents,
	.footer .footer-menu,
	.footer .area-copy{ min-width:100vw; width:100vw; }
	.onlyPC { display: none!important}
	.page{display:flex; flex-flow: row; flex-wrap: wrap;justify-content:flex-start;}
	.page, .cl-popup-overlay { height: 100vh}
	.main.sideL{ order:3} .main.sideR { order:4}
	.footer { order:5}
	/* 3.1 Header */
		/* 모바일에서 사용안함 */
			#header .header-search,
			#header .header-keyword,
			#header .gnb>.menu-d1,
			#header .gnb>.topmenu>a:last-child,
			#header .gnb>.topmenu.login-util>*:not(a) {display: none}
		/* 모바일에서 수정 */
			.header {height:52px; height:3.25rem; padding-top:0;}
			.header>.area-top { height: 55px}
			.header-logo { position:fixed; z-index:991; left:50%; top:0; margin-left:-30vw; width:60vw; height:50px; height:3.125rem; line-height:50px; line-height:3.125rem; text-align:center}
		/* 3.1.3 Header - Navigation Bar */
			.header .area-menu { position:fixed; top:0;}
			.gnb a{height:40px; height:2.5rem; line-height:40px;	line-height: 2.5rem;margin:5px 0; font-size:14px; font-size:.875rem; font-weight: 700;}
			.gnb .topmenu {float:right;margin:0; } 
			.gnb .btn-toggle{ float:left; margin:5px 0; width:40px; width: 2.5rem; height:40px; height:2.5rem; background-image:url(img/mobile/btn-fullmenu.png); background-color:#969693}
			.gnb .btn-toggle:hover, .gnb .btn-toggle:active {background-color: #0068b7; }
		/* 3.1.4 Header - Full Menu */
			#fullmenu  {margin-top:54px; margin-top:3.375rem; background-color:#f9f9f9; filter: drop-shadow(0 0 5px); border-bottom:0 none}
			#fullmenu a { padding:0 10px;}
			#fullmenu .loginMenu{background-color: #eaeff9; padding:5px 10px; height:50px; line-height: 40px; line-height: 2.5rem}
			#fullmenu .loginMenu>* {display: inline-block;}
			#fullmenu .loginMenu a:not(.btn) { padding: 0 0 0 25px ; font-weight: 700; color:#0068b7; background-position:0 50% ; background-repeat: no-repeat; vertical-align:baseline; background-image: url(img/icon-power.png); font-size: 1.2em}
			#fullmenu .loginMenu a.btn{float:right; margin: 5px 0 5px 5px; height:30px;line-height: 30px; }
			/*#fullmenu .topmenu{ display:flex; background-color: #eaeff9}
			#fullmenu .topmenu a {width:50%; height:50px; height:3.125rem; line-height:46px; line-height:2.875rem; background-position:calc(100% - 10px) 50% ; background-repeat: no-repeat; background-image:url(img/sub-navi_arrow.png); color:#0068b7; font-weight: 700; font-size: 16px; font-size: 1rem; border-left:2px solid rgba(255,255,255,.3); border-top:2px solid rgba(255,255,255,.6);border-right:2px solid rgba(0,104,183,.1); border-bottom:1px solid rgba(0,104,183,.2)}
			#fullmenu .topmenu a:before {content:"";display:inline-block; background-position:50% 50% ; background-repeat: no-repeat; width:20px; height:20px; vertical-align:middle; background-image: url(img/icon-power.png); margin-right: 10px }
			#fullmenu .topmenu.login-util i {display: none}
			#fullmenu .topmenu.login-util a {width: 30%}*/
			#fullmenu .menu-d1 { width:100%; padding:0}
			#fullmenu .menu-d1>li { border-top:1px solid #c2c2c2}
			#fullmenu .menu-d1>li>h5>a { color:#3a383e; background-position:calc(100% - 10px) 50%; background-repeat: no-repeat; background-image: url(img/arrow-ui-down.png); background-color: #f0f0f0}		
			#fullmenu .menu-d1>li>h5>a:hover{ color:#000}
			#fullmenu .menu-d1>li.on { }
			#fullmenu .menu-d1>li.on>h5>a { color:#0068b7; background-color: #f9f9f9; background-image: url(img/arrow-ui-up.png)}
			#fullmenu .menu-d1>li{ width:100%; display: block;}
			#fullmenu .menu-d2 {display:none!important}
			#fullmenu .menu-d2>li>a:hover, #fullmenu .menu-d2>li.on>a  {}
			#fullmenu .menu-d1>li.on>.menu-d2 { display:block!important; background-color:#fff}
			#fullmenu .menu-d2>li { border-top:1px solid #e0e0e0; padding:0}
			#fullmenu .menu-d2>li li { border-top:1px dashed #e0e0e0;}
			#fullmenu .menu-d2 a.havSub{background-position:calc(100% - 13px) 50%; background-repeat: no-repeat; background-image: url(img/arrow-ui-down.png); background-size:auto 5px}
			#fullmenu .menu-d2 li.on>a.havSub{background-image: url(img/arrow-ui-up.png);}
			#fullmenu .menu-d2 ul{display:none!important}
			#fullmenu .menu-d2 li.on>ul { display:block!important}
	/* 3.2 Footer */
		.footer { clear:both; border-top:1px solid #e0e0e0; background-color:#f0f0f0 }
		.footer .area-top, .footer-logo, .footer-fms, .footer-copy > *:not(.copyright) {display: none}
		.footer .area-copy {padding:10px;}
		.footer-copy .copyright { text-align: center; margin:0 auto; color:#969693}
		@media (max-width:400px){
			.footer-copy .copyright { width:20em;}
		}
	/* 3.3 Body Layout (서브 & 메인 공통 */
		.body {min-height:calc(100vh - 65px - 2.25rem - 2.75rem); margin-top:0; margin-bottom:0; padding:2.5%;}
		
		@media (max-width:400px){
			.body {padding:10px}
		}
		/* 3.3.1 사이드 */
			.sideL, .sideR { position:static; left:auto; right:auto; top:auto; margin:-1px 0 0; min-height:auto; width: 100%}
		/* 3.3.2 탭 */
			.tab-header { height:auto }
			.tab-header>li{height:38px; height:2.5rem; line-height: 38px; line-height: 2.5rem;}
			/* 서브 탭 */
				.tab-header.sub {position:relative;z-index:9; height:38px; height:2.5rem; overflow:hidden; border-bottom:0 none  }
				.tab-header.sub:after {content:""; position:absolute; z-index:9; top:0; right:0; width:60px; height:38px; height:2.5rem; background-position:calc(100% - 13px) calc(1.25rem - 2.5px); background-repeat: no-repeat; background-image: url(img/arrow-ui-down.png); background-size:auto 5px}
				.tab-header.sub>li {float:none; width:100%;  }
				.tab-header.sub>li.nowTab {color:#0068b7; height:38px; height:2.5rem; line-height:38px; line-height: 2.65rem;border:1px solid #0068b7; font-size:16px; font-size:1rem; font-weight: 700; text-align: left;padding-left:15px; cursor: pointer}
				.tab-header.sub>li>a{background-color:#fff; margin-right:-50px; border:1px solid #e0e0e0 ; border-top:0 none ; text-align: left; padding-left:15px; }
				.tab-header.sub>li>a.on{ height:38px; height:2.5rem; background-color: #f6f6f6;  border:1px solid #e0e0e0 ; border-top:0 none ; }
				.tab-header.sub>li>a:hover { background-color: #f6f6f6}
				.tab-header.sub>li>a:active { background-color: #eaeff9}
				.tab-header.sub.open { overflow:visible}
				.tab-header.sub.open>li.nowTab {background-color: #eaeff9}
			/* 서브 탭 스크롤 고정 시 */
			.tab-header.sub.affix { height:calc(2.5rem + 10px); width:calc(100% - 20px)}
			.tab-header.sub.affix:after { top:10px}
		/* 3.3.3 섹션 */
			.group-header { height:auto; line-height: 24px; line-height:1.5rem; padding-top:18px; padding-bottom:18px;  }
			.section-header {height:auto; line-height: 24px;line-height:1.5rem; padding-top:13px; padding-bottom:13px; }
			.group-header .circleL-notice,
			.section-header .circleL-notice {position:relative; display: inline-block; padding-left:25px; padding-right:112px; padding-right:7rem }
			.group-header .circleL-notice:before,
			.section-header .circleL-notice:before { position:absolute; top:2px; top:0.125rem; left:0}
			.group-header .circleL-notice + .ctrl-btnSet,
			.section-header .circleL-notice + .ctrl-btnSet {top:8px; top:0.5rem; }
			@media (max-width:700px){
				.group-header .circleL-notice,
				.section-header .circleL-notice {padding-right:0 }
				.group-header .circleL-notice + .ctrl-btnSet,
				.section-header .circleL-notice + .ctrl-btnSet {position:static; margin-left:25px; margin-top:5px}
			}
	/* 3.4 Body - SubPage Layout */
		/* 3.4.1 서브 메뉴 */
			#sub-menu {height:36px; height:2.25rem; overflow: hidden; transition: 'height' .3s ease-in-out }
			.sub-menu>.sub-menu-title { height:36px; height:2.25rem; line-height:36px; line-height: 2.25rem; }
			.sub-menu>.menu-d2 {display: none}
		/* 3.4.2 서브 헤더*/
			.sub-header { padding-bottom:0; margin-bottom:10px; }
			.sub-title { min-height:auto; padding:15px 0; text-align: center}
			.sub-nav {display: none}

/*--------------------------------------------------------------
4.0 Main Page Design
----------------------------------------------------------------*/
	/* 4.1 Visual Banner Area*/
		.main.visualBN { height:calc(32.3vw + 32px); height:calc(32.3vw + 2rem);}
		.main_slide .slick-slide { height:32.3vw}
		.main_slide .slider_image {margin-left:-100vw; max-width:200vw; width:200vw; height:32.3vw}
		.main_slide .slick-arrow { top:calc(16.15vw - 15px); }
		.main_slide .slick-arrow.prev { margin-left: calc(10px - 50vw)}
		.main_slide .slick-arrow.next { margin-right: calc(10px - 50vw)}
		.main_slide .slick-dots { width:100vw;}
		.main_slide .slick-dots li { width:20vw; height:32px; height:2rem; line-height: 32px; line-height:2rem; font-size: 12px; font-size:.75rem; letter-spacing: -.05em}
		.main_slide .slick-dots button {height:32px; height:2rem; line-height: 32px; line-height:2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
	/* 4.2 Main Side Area */
		.main.sideL .login_wrap,
		.main.sideL .sideL_banner,
		.main.sideR {display: none!important}
		.main.sideL {width:95%; margin:0 2.5%}
		.main.sideL h3 {color:#4c4b46;height:50px; height:3.125rem; line-height:50px; line-height:3.125rem; text-align: left; border-bottom:1px solid #e0e0e0 }
		.sideL_schedule {position:relative; top:-40px; border:0 none}
		.sideL_schedule>ul { border-bottom: 1px solid #e0e0e0}
		.sideL_schedule li.today {width:150px; margin-right:45px; height:100%; padding:15px 15px; border-bottom:0 none; line-height: 103px}
		.sideL_schedule li.today div { display:inline-block;width:auto; vertical-align:middle; font-weight: 400;}
		.sideL_schedule li.today div em, .sideL_schedule li.today div span {font-size: 14px; font-size:.875rem;}
		.sideL_schedule li.today a { display: none}
		.sideL_schedule dl { width: calc(100% - 70px); }
		@media (max-width:1000px) {
			.sideL_schedule>ul { height: auto; border-bottom:0 none}
			.sideL_schedule li.today { position: absolute; top:15px; right:0; margin-right: 0; width: auto; height:30px; line-height: 30px; background-color: transparent; border-bottom: none; padding:0; text-align: right}
			.sideL_schedule li.today div em, .sideL_schedule li.today div span {display: inline-block; margin-left:10px}
		}
		@media (min-width:600px) {
			.sideL_schedule>ul {display: flex; justify-content: space-between; align-items: center; height:105px;}
			.sideL_schedule li:nth-child(n+2) {width:calc(33.333% - 65px);font-size: 14px; font-size:.875rem; border-bottom:0 none}
			.sideL_schedule li:nth-child(n+2) div {margin-left:0}
		}
		@media (max-width:1000px) and (min-width:600px){
			.sideL_schedule li:nth-child(n+2) {width:33.333%;}
		}
		
		
	/* 4.3 Main Body Area */
		#mainTeacher, #mainCourse { display: none}
		/* 4.3.1 추천 연수 */
		
			#mainRecommand .tab-header>li {border-bottom:1px solid #0068b7}
			#mainRecommand .tab-header>li>a:not(.on) {border-bottom:0 none}
			#mainRecommand .gallery { height:auto }
			#mainRecommand .gallery .item {width:calc(50% - 7.5px);  height:calc(35.625vw + 1.5625px +  4.25rem); margin-top:15px; margin-bottom:0}
			#mainRecommand .list-bottom { clear: both}
			@media (min-width:800px){
				#mainRecommand .gallery .item {width:calc(25% - 11.25px);  height:calc(17.8125vw - 1.5625px +  4.25rem);}
			}
			@media (max-width:600px){
				#mainRecommand .tab-header {display: flex; justify-content: center}
				#mainRecommand .tab-header>li {width:auto; }
				#mainRecommand .tab-header>li>a {padding:0 1em; letter-spacing: -.025em}
				#mainRecommand .tab-header>li>a:not(.on) { font-size:16px; font-size:1rem}
				#mainRecommand .tab-header>li>a.on { max-width:calc(100vw - 24.5rem)} 
				#mainRecommand .gallery .item {width:calc(50% - 5px); height:calc(35.625vw + 6.25px +  4.25rem);  margin-top:10px;}
			}
			@media (max-width:550px){
				#mainRecommand .tab-header>li>a:not(.on) {padding:0; margin:0 1em; width:2em;}
				#mainRecommand .tab-header>li>a.on {padding:0 1rem; max-width: none}

			}
			@media (max-width:380px){
				#mainRecommand .tab-header>li>a:not(.on) {font-size:14px; font-size:.875rem}
				#mainRecommand .tab-header>li>a.on {padding:0 .875rem; font-size:16px; font-size:1rem}
				#mainRecommand .gallery .item { height:calc(35.625vw + 4.375px +  4.65rem); }
			}
		/* 4.3.4 최근게시물 */
			#mainLatest .section {width:calc(50% - 150px);}
			@media (max-width:800px){
				#mainLatest .section:first-child {margin-right:30px}
				#mainLatest .section {width:calc(50% - 135px);}
			}
			@media (max-width:800px){
				#mainLatest { height:auto}
				#mainLatest .section, #mainLatest .section:last-child {float:none; width:100%}
			}

/*--------------------------------------------------------------
5.0 Contents Design
----------------------------------------------------------------*/
	@media (max-width:660px){
		.quote-label {width:96px; width:6rem; height:96px; height:6rem; line-height: 96px; line-height: 6rem; font-size:24px; font-size: 1.5rem; }
		.single-quote {font-size:24px; font-size: 1.5rem; text-align: left; text-align-last: right; width:290px; width: 18.125rem }
		.single-quote:before, .single-quote:after { height:24px; height:1.5rem;}
		.diagram>.item {padding:25px; font-size: 14px; font-size:.875rem; }
		.diagram .item-num { font-size: 48px; font-size: 3rem; }
		.diagram .item-title { font-size: 20px; font-size: 1.25rem; }
		.diagram.typeA { width:270px; height:auto}
		.diagram.typeA>.quote-label {left:0%; margin-top:-48px; margin-left:0}
		.diagram.typeA>.item{float:none !important; width:260px; height:auto;  }
		.diagram.typeA>.item.no1 { padding-top:75px;}
		.diagram.typeA>.item.no2 { padding-top:25px;padding-bottom:95px;border-top-right-radius:0; border-bottom-right-radius:75px;}
		.diagram.typeA>.item.no3 { padding-top:75px; border-bottom-left-radius:0; border-top-right-radius:75px;}
		.diagram.typeA>.item.no4 { padding-top:25px;padding-bottom:95px; border-bottom-right-radius:0;  border-bottom-left-radius:75px;}
		.diagram.typeA>.item.no1 .item-num {top:20px; left:25px}
		.diagram.typeA>.item.no2 .item-num {top:auto; right:25px; bottom:20px;}
		.diagram.typeA>.item.no3 .item-num {top:20px; right:25px; bottom:auto; left:auto; }
		.diagram.typeA>.item.no4 .item-num {right:auto; left:25px; bottom:20px;}
	}
	/* 5.2 List TAG  */
		/*5.2.1 간단한 리스트 모음*/
			.notice-list { padding: 10px 5px}
			.unhead-list .stepGuide-list,			
			.unhead-list table.rule {margin-left:-15px; width:calc(100% + 15px); }
			.stepGuide-list>li>.label {display:block; margin:0 auto; padding-left:0; }
			.stepGuide-list>li>div {display: block; border-left: 0 none; margin:0 auto; padding-top:0; padding-left:0; text-align: center; word-break: keep-all; white-space: normal}
			.stepGuide-list>li:before { display:block;}
			@media (max-width:700px){
				.check-list>li>.label + .floatR { display:block; float:none; margin-left: -7em; margin-top:.5em }
				.table-list {border-bottom: 0 none}
				.table-list>li { display: flex; width: 100%;border-bottom:1px solid #e0e0e0}
				.table-list>li:before { content:none}
				.table-list>li .th { border-bottom:0 none; border-right:1px solid #e0e0e0; padding:10px 10px; width:10rem; white-space: normal; word-break: keep-all}
				.table-list>li .td { width:calc(100% - 10rem)}
				table.rule th,	table.rule td{ padding: 10px; word-break: keep-all }
			}
			@media (max-width:400px){
				.table-list>li .th { width:42%; }
				.table-list>li .td { width:58%}
				table.rule th,	table.rule td{ padding: 10px 5px; }
			}
	/* 5.3 Form */
		/* 5.3.2. 목록내 검색 Form */
			.body-select span { margin-left: 0}
			.body-select.width10 { width:4rem !important}
			.body-select.width15,
			.width30 .body-select.width45 { width:6rem !important}
			@media (max-width:720px){
				.body-search {width:calc(100% - 160px); }
				.body-search input[type=text] { margin-left: 0}
				.body-search input[type=text] {width:calc(100% - 40px - .5em + 3px)}
			}
			@media (max-width:480px){
				.body-search, .body-select, .select-option   {width:100%; }
			}
		/* 5.3.3. Form 페이지 */
			@media (max-width:600px){
				div.btn_wrap { text-align: center; padding-bottom:10px; border-bottom:1px solid #e0e0e0;}
				div.btn_wrap .notice-list {text-align:left; padding:10px 5px; border-bottom:0 none}
				div.btn_wrap a {position:static; }
				form .singleRow { padding:10px 0}
				
				form dd label { display:inline-block;white-space: nowrap; min-width: 20%}
			}
			/* form 구조 양식 내 재정의 */
			form dt{ width: 20%;}
			form dd{ width:80%; }
			form dd label,form .singleRow label{ white-space: nowrap}
			form dd span.explan {white-space: nowrap;}
			@media (max-width:700px){
				form h3 { color:#0068b7}
				form dt, .popup-body form dt{ display:block; width:100%; padding: 10px 0 0; line-height:21px;  min-height: auto }
				form dd, .popup-body form dd  { display:block; width:100%; padding: 0 0 10px; min-height:21px; border-left:none; border-top:0 none}
				.popup-body form dt, .popup-body form dd {min-height: auto }
				form dt.border {border-left:0 none}
				form dd.halfW { width:100% }
				form dd .explan {display: block; margin-left:0; line-height:1.5; margin:5px 0}
				form dd span.explan { white-space: normal}
			}
			@media (max-width:400px){
				form dd input, form dd select, form div input { width:calc(100vw- 20px); margin:0}
			}
	/* 5.4 약관 */
		/* 5.4.1 각종 가입 약관 */
			.certification ul{ margin:20px auto; min-width:250px; display: flex; justify-content:center; flex-wrap: wrap}
			.certification li{ float: none; width: 250px;}
			.certification li:nth-child(3) { display: none}
			.certification:last-child { margin-bottom:40px}
		/* 5.4.2 운영 규정 */
			table.rule th, table.rule td { word-break: keep-all}
			table.rule.cell { margin-left: 0; width:100%; max-width:100%}
			@media (max-width:470px){
				table.rule.cell {display:block; overflow-x: scroll; border-top:0 none}
				table.rule.cell thead tr:first-child th { border-top:1px solid #e0e0e0}
				table.rule.cell:after {content:"※ 테이블을 좌,우로 스크롤 하세요."; display: block; }

			}
	/* 5.6 게시판*/
		/* 5.6.1. Top & Bottom*/
			/* 목록 Top & Bottom */
				@media (max-width:960px){
					.list-bottom > .pagination{width:100%; display: flex; flex-wrap:nowrap; justify-content:center}
					.pagination>a{width:30px; height: 30px; line-height: 28px; margin:0 2px; }
					.list-bottom > .btnSet { position:static;text-align: center}
				}
				@media (max-width:720px){
					.list-top>.ctrl-btnSet { position: relative}
					.list-top>form + .ctrl-btnSet {top:-5px }
				}
			/* 보기 & 쓰기 Top & Bottom */
				.view-header .view-info span.Attachments{display: none}
				.view-bottom .comment textarea { width:calc(100% - 70px)}
				@media (min-width:480px){ 
					.view-header .view-info { text-align: right}
					.view-header .view-info span.writer, .view-header .view-info span.date {float: left;}
				}
				@media (max-width:480px){
					.view-header .view-info { white-space: normal; height:2.6rem}
					.view-header .view-info span { display: block; float: left;}
					.view-header .view-info span.hit { clear: left; }
					.view-bottom .Attachments strong { display: block; margin-left: 0}
				}

		/* 5.6.3. LIST - 목록 타입*/
			/* 일반 테이블 LIST */
				@media (max-width:960px){
					.list, .list thead, .list tbody { display: block}
					.list colgroup {display: none}
					.list tr{display:block; position: relative; padding:10px 0 10px calc(3em + 10px)}
					.list thead th {padding:0; height: 20px; height:1.25rem;} 
					.list thead th.item-function {min-height: 20px; min-height:1.25rem}
					.list thead th.item-no, .list tbody .item-no,
					.list thead th.item-number, .list tbody .item-number{ position:absolute; left:0; top:calc(50% - 10px); width:3em}
					.list thead th:not(.item-no):nth-child(n+2) { display:inline-block; width:auto; line-height:20px!important; line-height:1.25rem !important  }
					.list thead th:not(.item-no):nth-child(n+3):before { content: "/ "; color:#c2c2c2; font-weight: 200}
					.list tbody tr {border-top:1px solid #e0e0e0}
					.list tbody.notice-group tr { background-color: #fafafa}
					.list tbody.notice-group + tbody tr:first-child {border-top:0 none}
					.list tbody tr:last-child {border-bottom:1px solid #e0e0e0}
					.list tbody td,
					.list thead + tbody tr:first-child td { display: block; border-top:0 none; border-bottom:0 none;}
					.list tbody td {padding:0}
					.list tbody td { text-align: left }
					.list tbody td.item-no, .list tbody td.item-number { text-align: center }
					.list tbody tr:hover { background-color: #eaeff9}
					.list tbody tr:hover td { background-color: transparent}
					.list tbody td:before { color:#969693}
					.list tbody tr.on {border:1px solid #0068b7; margin-top:1px}
					.list tbody tr.on td { border-top:0 none; border-bottom:0 none}
					.list tbody tr.on td:first-child { border-left: 0 none}
					.list tbody tr.on td:last-child { border-right: 0 none}
				}
				@media (max-width:480px) {
					table.list { border-top:0 none}
					.list thead {display: none}
				}
			/* 펼침 타입 LIST */
				@media (max-width:960px){
					.spread-list .list-item>p>span {padding:0 10px} 
					.spread-list>li.on>.list-item-body {padding:20px}
				}
				@media (max-width:600px){ 
					.spread-list .list-header span.item-title,
					.spread-list .list-header span.item-date {width:auto!important; padding:10px 0; }
					.spread-list .list-header span.item-date:before { content:" / "; margin-left:.25rem; color:#c2c2c2; font-weight: 100}
					.spread-list .list-item-header span.item-title,
					.spread-list .list-item-header span.item-date { display: block; text-align: left;}
					.spread-list>li>a {padding: 10px 10px 10px calc(10px + 2.5em)}
					.spread-list>li>a>em{display:inline-block; width: 2.5em; text-align: center; vertical-align: top; margin-left:-2.5em;}
					.spread-list>li.on>div {margin: 10px 0px 10px calc(10px + 2.5em)}
					
				}
				@media (max-width:600px) and (min-width:400px) {
					.spread-list .list-header span { float: right;}
					.spread-list .list-header span.item-title,
					.spread-list .list-header span.item-date {float: none; margin-top:0; }
					.spread-list .list-item-header span { float: right; margin-top:-30px; margin-top:-1.875rem}
					.spread-list .list-item-header span.item-title,
					.spread-list .list-item-header span.item-date { float: none; margin-top:0;}
				}
				@media (max-width:400px) {
					.spread-list .list-header {display: none}
					.spread-list .list-header+li { border-top-color:#e0e0e0 }
					.spread-list .list-header+li.on { border-top-color:#0068b7 }
					.spread-list .list-item>p>span { text-align: left; width:auto!important; white-space: nowrap}
					.spread-list .list-item-header>span:before {color:#969693!important}
				}

		/* 5.6.4. LIST - 앨범 타입 x */
			/* 추천 연수 과정 */
			.gallery { height:calc(35.625vw + 4.375px +  4.25rem); margin:0;}
			.gallery .item {width:calc(50% - 7.5px);  margin:0 0 0 15px;}
			.gallery .item:nth-child(2n+1) { margin:0; clear: both}
			.gallery .item-img img {width:100%}
			@media (min-width:800px){
				.gallery { height:calc(17.8125vw + 1.5625px +  4.25rem); }
				.gallery .item {width:calc(25% - 11.25px);}
				.gallery .item:nth-child(4n+3) { margin:0 0 0 15px; clear:none}
			}
			@media (max-width:1000px) and (min-width:800px){
				.gallery .item-function>.btn {width:auto}
			}
			@media (max-width:600px){
				.gallery { height:calc(35.625vw + 6.25px +  4.25rem); }
				.gallery .item {width:calc(50% - 5px);  margin:0 0 0 10px;}
			}
			@media (max-width:480px){
				.gallery .item-function>.btn {width:auto}
				.gallery .item-title {font-size:14px; font-size: .875rem; height:	42px; height: 2.625rem; line-height: 21px; line-height: 1.3125rem;}
			}
			@media (max-width:380px){
				.gallery { height:calc(35.625vw + 4.375px +  4.65rem); margin:0;}
				.gallery .item-function>.btn.blit {padding-left:5px;}
				.gallery .item-function>.btn.blit:before {display: none}
				.gallery .item-info>li.learn-time {display: block; margin-left:0; }
				.gallery .item-info { height:36px; line-height:18px; margin:.4rem 0 1rem }
			}
		/* 5.6.5. LIST - 특성화 */
			/* 게시판 */
				@media (max-width:960px){
					#bbs tbody td:not(.item-title) { display: inline-block; margin-right:5px}
					#bbs tbody td.item-name:before { content: "작성자: "}
					#bbs tbody td.item-date:before { content: "작성일: "}
					#bbs tbody .item-view_count:before { content:"조회수: "}
					#bbs tbody .item-answer:before { content:"답변여부: "}
				}				
				@media (max-width:960px) and (min-width: 500px ){
					#bbs .item-view_count, #bbs .item-answer { position:absolute; top:50%; margin-top:-10px; width:4rem; text-align: center; margin-right:5px }
					#bbs .item-view_count { right:0}
					#bbs .item-answer {right:calc(4rem + 5px)}
					#bbs thead .item-view_count:before,
					#bbs thead .item-answer:before,
					#bbs tbody .item-view_count:before,
					#bbs tbody .item-answer:before { content:none}
				}
			/* 나의 강의실 - 강의실 - 진행연수 - 교재구매 */
				@media (max-width:740px){
					#list-orderBook .list-header>.item-title { padding:10px}
					#list-orderBook .list-header>.item-price, #list-orderBook .list-header>.item-max{display:none}
					#list-orderBook .list-item { position: relative;}
					#list-orderBook .list-item>.item-title {display: block; padding-bottom:0;}
					#list-orderBook .list-item>.item-price, #list-orderBook .list-item>.item-max{ float:none; width:auto; padding:0 10px 5px; }
					#list-orderBook .list-item>.item-price:before {content: "교재 가격: ";}
					#list-orderBook .list-item>.item-max:before {content: "재고 수량: ";}
					#list-orderBook .list-item>.item-buy {display:block; position:absolute; top:calc(50% - 5px - .9375rem); right:0;}
				}
				@media (max-width:400px){
					
					#list-orderBook .list-item>.item-price, #list-orderBook .list-item>.item-max{ padding:0 10px; }
					#list-orderBook .list-item>.item-buy {position: static;width:100%; text-align: left; padding:0 10px 5px;}
					#list-orderBook .list-item>.item-buy:before { content: "구매 수량: "}

				}
			/* 나의 강의실 - 나의 연수과정 */
				@media (max-width:960px){
					#myclass-list tr{padding:10px 0 10px calc(8em + 15px)}
					#myclass-list thead th.item-type { position:absolute; left:0; top:calc(50% - 10px); width: 8em;}
					#myclass-list thead th.item-check,
					#myclass-list thead th.item-course,
					#myclass-list thead th.item-score,
					#myclass-list thead th.item-function {display: none}
					#myclass-list thead th.item-notation:before { content:none}
					#myclass-list tbody tr:last-child {border-bottom:1px solid #e0e0e0}
					#myclass-list tbody .item-type,
					#myclass-list tbody .item-course,
					#myclass-list tbody .item-score	 {position:absolute; left:0; width:8em; text-align: center}
					#myclass-list tbody .item-type	 {top:calc(50% - 30px);}
					#myclass-list tbody .item-course {top:calc(50% - 10px);}
					#myclass-list tbody .item-score	 {top:calc(50% + 10px);}
					#myclass-list tbody .item-function { text-align: left; margin-top:5px}
					#myclass-list tbody .item-notation,
					#myclass-list tbody .item-date,
					#myclass-list tbody .item-state,
					#myclass-list tbody .item-local  { text-align: left}
					#myclass-list tbody .item-date:before { content:"기간 : "}
					#myclass-list tbody .item-state:before { content:"이수 여부: "}
					#myclass-list tbody .item-local:before { content:"연수 지명 번호: "}
					#myclass-list tbody .item-state:before,
					#myclass-list tbody .item-local:before {display:inline-block; margin-right:3px; letter-spacing: -.05em}
					#myclass-list tbody .item-date .btn.XS { margin-left:.5em}
				}
				@media (max-width:960px) and (min-width:480px){
					#myclass-list tbody tr { padding:10px calc(6.5rem + 10px) 10px calc(8em + 15px); }
					#myclass-list tbody .item-function {position:absolute; right:10px; top:calc(50% - 14px); top:calc(50% - .8125rem - 1px); margin-top:0; padding:0 15px 0 0}
				}
				@media (max-width:480px) {
					#myclass-list tbody tr { padding:10px 10px 10px calc(8em + 7.5px);}
				}
				@media (max-width:400px) {
					#myclass-list tbody tr { padding:10px;}
					#myclass-list tbody .item-type,
					#myclass-list tbody .item-course {position:relative; display: inline; color:#0068b7 }
					#myclass-list tbody .item-course:before { content: "/"; display: inline-block; width:1em; text-align: center; color:#969693 }
					#myclass-list tbody .item-score {top:10px; right:10px; left:auto; width: 2.8em; color:#4c4b46;}
				}

			/* 강의 보기 - 강의실 입장 - 강의 보기 */
				@media (max-width:960px){
					#list-lesson td.item-time,
					#list-lesson td.item-teacher,
					#list-lesson td.item-attend { display: inline-block; white-space: nowrap; vertical-align: middle; margin-right:.5em}
					
					#list-lesson td.item-time:before {content:"학습시간: "}
					#list-lesson td.item-teacher:before {content:"강사: "}
					#list-lesson td.item-attend:before {content:"출석: "}
					#list-lesson td.item-function,
					#list-lesson td.item-state {display:  inline-block; text-align: center; height:32px; height:2rem; line-height:32px; line-height:2rem; text-align: center; padding:0}
					#list-lesson td.item-function {}
					#list-lesson td.item-state { width: 5rem}
					#list-lesson tbody tr { clear: both}
				}
				@media (max-width:960px) and (min-width:480px){
					#list-lesson tr { padding-right:14rem}
					#list-lesson .item-function {position: absolute;right: 6.5rem; width: 7rem; padding:0}
					#list-lesson .item-state {position: absolute; right: .5rem; width: 5.5rem; padding:0; }
					#list-lesson td.item-function,
					#list-lesson td.item-state { top:calc(50% - 16px); top:calc(50% - 1rem); }
					#list-lesson td.item-function[colspan='2'] {width:14rem; right:.5rem; white-space: nowrap; text-align: right}
					#list-lesson th.item-function:before,
					#list-lesson th.item-state:before {content:none}
				}
				@media (max-width:480px) {
					#list-lesson tr .item-time,
					#list-lesson tr .item-teacher {display:none}
				}
			/* 연수 과정 목록 - 연수 신청 */
					#list-learn .item-title a strong { font-weight: 700}
				@media (max-width:960px){
					#list-learn tr {padding:10px calc(9.5rem + 20px) 10px 10px}
					#list-learn .item-function {position: absolute; text-align: center; margin-right: 0 }
					#list-learn tbody td.item-function { top:50%; margin-top:-26px; }
					#list-learn .item-function:nth-last-child(1) {width: 6rem; right:10px;}
					#list-learn .item-function:nth-last-child(2) {width: 3.5rem; right:calc(6rem + 10px)}
					#list-learn .item-function:nth-last-child(1):before,
					#list-learn .item-function:nth-last-child(2):before { content: none}
					#list-learn tbody td{margin-right:.5em}
					#list-learn tbody td.item-teacher,
					#list-learn tbody td.item-score,
					#list-learn tbody td.item-price,
					#list-learn tbody td.item-book {display: inline-block; white-space: nowrap; }
					#list-learn tbody td.item-teacher:before { content:"강사명: "}
					#list-learn tbody td.item-score:before {content: "학점: "}
					#list-learn tbody td.item-price:before { content:"연수비: "}
					#list-learn tbody td.item-book:before { content:"교재: "}
					#list-learn tbody td.item-book a { display: inline;}
					#list-learn tbody td.item-book a:nth-child(n+2):before {content:", "}
				}
				@media (max-width:480px){
					#list-learn tr {padding:10px calc(6rem + 20px) 10px 10px}
					#list-learn tbody td.item-function { padding:2px 0; margin-top:0;}
					#list-learn .item-function:nth-last-child(1) {top:50%; }
					#list-learn .item-function:nth-last-child(2) {width: 6rem; right:10px; top:auto; bottom:50%; }
					#list-learn .line.icon.btnWatch { background-color: #fff; background-image: none; width:auto; padding-left: 0; padding-right:5px;}
					#list-learn .line.icon.btnWatch:before {content:""; display: inline-block; width:28px; height:28px; vertical-align: top; background-color:#666464; background-image: url(img/iconInv-tv.png);  }
					#list-learn .line.icon.btnWatch .sr-only {position: static; width:auto; height:auto; clip: auto; margin:0}
				}
				@media (max-width:360px){
					#list-learn tr {padding:10px 10px 50px}
					#list-learn tbody td.item-function:nth-last-child(2){left:10px; right:auto; top:auto; bottom:10px;}
					#list-learn tbody td.item-function:last-child{left:calc(6rem + 10px); right:auto; top:auto; bottom:10px;}
				}
			/* 나의 강의실 - 강의실 입장 - 온라인 과제 , 온라인 평가 */
				ul#list-exam span.item-function { display: none}
				ul#list-exam span.item-title {width:calc(100% - 32.5rem);}
				ul#list-exam + p { margin:15px 0 40px; padding-left:1.25em; text-indent: -1.25em}
				ul#list-exam + p>.danger {white-space:nowrap}
				@media (max-width:960px) {
					ul#list-exam span.item-title {width:calc(100% - 22.5rem)}
					ul#list-exam span.item-date {width:11.25rem}
					ul#list-exam span.item-state,
					ul#list-exam span.item-score {width:5.625rem}
				}
				@media (max-width:600px) and (min-width:400px){
					ul#list-exam span.item-title,
					ul#list-exam span.item-date {width:calc(100% - 11.25rem - 10px); margin-right:0}
				}
				@media (max-width:400px){
					ul#list-exam span.item-title,
					ul#list-exam span.item-date {width:100%} 
					ul#list-exam span.item-date { position: relative; top:10px}
					ul#list-exam span.item-date:before {content:"과제 기간: ";}
					ul#list-exam span.item-state:before {content:"제출 여부: ";}
					ul#list-exam span.item-score:before {content:"평가 점수: ";}
					ul#list-exam .list-item-body p.btnSet { display: none}
				}
		/* 5.6.6. VIEW */
			/* 연수과정 상세보기 */
				.detailView-body.tab-group .group-header{height:3.75rem; }
				.detailView-body.tab-group .group-header h4 { display: none}
				@media (max-width:960px){
					.learn-detailView .detailView-top .learn-course,
					.learn-detailView .detailView-top .learn-time,
					.learn-detailView .detailView-top .learn-score,
					.learn-detailView .detailView-top .learn-max{ float: none; width:100%}
				}
				@media (max-width:640px){
					.learn-detailView .detailView-top .item-img, .learn-detailView .detailView-top .item-function,
					.learn-detailView .detailView-top .SNSshare { position: static; width:100%; height: auto;}
					.learn-detailView .detailView-top .item-img>img {width:100%}
					.learn-detailView .detailView-top .info-list { margin-right: 0}
					.learn-detailView .detailView-top .item-function { margin-top:15px}
					#learn-intro .table td {word-break: keep-all}
				}
				
				@media (max-width:480px){
					.learn-detailView #learn-review .list-top { position: static}
				}

/*--------------------------------------------------------------
6.0 Contents Design for Page 페이지별 개별화 된 콘텐츠 디자인
----------------------------------------------------------------*/
	/* 6.1 마이페이지 */
		/* 6.1.1 강의실 */
			/* 나의 연수 과정 */
				#mypage-summary {display: none}
			/* 강의실 입장 */
				#classroom-home-summary .btnSet .btn {display: none}
				#learn-contents table.table td {min-width: 3.125rem}
				#learn-contents table.table td:first-child {white-space: nowrap}
				@media (max-width:800px){ 
					#classroom-home-group .group-body { padding-right: 0; height: auto}
					.section#classroom-home-history { position:relative; width: 100%}
				}
				@media (max-width:600px){ 
					#learn-contents table.table {width:calc(100vw - 20px); max-width:100%; }
					#learn-contents.mobileScroll table.table{ display:block; overflow-x: scroll; }
					#learn-contents.mobileScroll:after {content:"※ 테이블을 좌,우로 스크롤 하세요."; display: block;  }
					#learn-contents thead tr:first-child th:nth-child(2),
					#learn-contents tbody tr td:nth-child(2),
					#learn-contents tbody tr td:last-child{word-break: keep-all}
					#learn-contents tbody tr td:last-child {min-width:120px}
				}
				@media (max-width:400px){
					#classroom-home-summary .info-list>li {padding:10px 0}
					#classroom-home-summary .info-list .label { position: static; display:block; margin-left: 0}
				}
				
	/* 6.7 연수원 소개 */
		.intro-map { width:300px; margin:0 auto}
		@media (max-width:976px){
			.intro-group { width:100%; height:65vw; background-size: 100%}
		}
		@media (max-width:720px){
			.intro-group { height:892px; background-size:300px auto; background-image:url(img/introduce-group_m.png) }
		}
		@media (max-width:320px){
			.intro-group {width:100%; height:279vw; background-size:100% auto;}
		}
/*--------------------------------------------------------------
7.0 Popup Design
----------------------------------------------------------------*/
	/* 7.1 레이어 팝업 */
		.cl-popup-box.full, .cl-popup-box.child-popup {min-width:300px; width:100vw; height:100vh; overflow-y: auto; padding-top:50px; padding-top:calc(20px + 1.875rem)}
		.child-popup>.child-popup-body,
		.child-popup>.child-popup-bottom,
		.popup-body, .popup-bottom{ width:calc(100% - 30px); margin:0 auto; padding:15px 0 }
		.popup-header {position:fixed; top:0; left:0;right:0; margin:0; padding:10px 50px 10px 10px; padding:10px calc(2.5rem + 10px) 10px 10px; text-align: left; background-color:#0068b7; color:#fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis }
		.popup-header span.primary, .popup-header em.primary, .popup-header strong.primary, .popup-header small.primary { color:#ffa}
		.popup-header .popup-title { white-space: normal; word-break: keep-all}
		.popup-header p { color:#d2d2d2}
		.cl-popup-closer, .child-popup-closer {position:fixed; width:50px; height:50px; opacity:.7}
		/* 7.1.9 팝업 개별 디자인 */
		.popup-body .detailView { position:relative; margin:40px 0 0; min-height: 280px;}
		.popup-body .certification { display: none}
		.popup-body .certification span{width:calc(100% - 110px); min-height: 75px; }
		.popup-body .login_wrap {width: 100%; max-width:600px; float: none; border-left: 1px solid #e0e0e0; margin:0 auto}
		@media (min-width:960px){
			.popup-body .certification span{	word-break: keep-all }
		}
		@media (max-width:400px){
			.popup-body .login_wrap { padding:25px}
			.popup-body .login_wrap label { float:left; clear:left;}
			
		}
		