/*--------------------------------------------------------------
	�젅�씠�뼱 �뙘�뾽 �궡 �봽由고듃 �쁺�뿭 ( �뒪�겕由� & �봽由고듃 怨듭슜)
----------------------------------------------------------------*/
	/* 怨듬룞 �젅�씠�븘�썐 */
		.print-wrap {border:1px solid #999; padding:20px;}
		.print-title { line-height:50px; text-align: center}
	/* 異쒖꽍 怨좎궗 �닔�뿕�몴 - 媛뺤쓽�떎 �엯�옣 - �굹�쓽 媛뺤쓽�떎 */
		.tvs-photo { width:150px; height:180px; margin:15px auto; background-color:#e2e2e2; overflow: hidden}
		.tvs-photo>img{width:150px; height:180px;}
		#receipt .group-list, #receipt input{font-size:12px; font-size:.75rem}
		#receipt input {text-align: left; }
	/* �쁺�닔利� - �쁺�닔利�/�씠�닔利� �젙蹂� - �굹�쓽 媛뺤쓽�떎 */
		.receipt-issue {text-align:center; padding:15px 0}
		.receipt-issue .date {margin:1.5em 0;}
		.receipt-issue .issuer { height:50px; line-height:50px;}
		.receipt-issue .issuer>* { display: inline-block; vertical-align: middle}
		.receipt-issue .issuer>span { position:relative; top:20px; }
		.receipt-issue .issuer>em { font-size:1.5em; padding-left:40px;}
		.receipt-issue .issuer>img { width: 50px; margin-left: -10px;}
		#receipt .group-list>li>ul {width:327px}
		.group-list {border-top:1px solid #d2d2d2; margin:15px 0; }
		.group-list li {list-style: none; }
		.group-list>li {border-bottom:1px solid #d2d2d2;}
		.group-list>li>h5 {display:inline-block; vertical-align: middle; width:20px; margin:0 15px 0 5px; font-size:14px; font-size:.875rem;text-align: center;}
		.group-list>li>ul {display:inline-block; vertical-align: middle; margin-left:43px; }
		.group-list>li>h5+ul {margin-left:0}
		.group-list>li li {border-top:1px solid #f0f0f0; min-height:40px; line-height: 40px;}
		.group-list>li li .label {display: inline-block; width:7em; letter-spacing: -.05em; }
		.group-list>li li:first-child {border-top:0px none}
	/* �씠�닔利�, �닔媛뺥솗�씤利� - �쁺�닔利�/�씠�닔利� �젙蹂� - �굹�쓽 媛뺤쓽�떎 */
		.certificate { position:relative; width:710px;height:1030px; border:0 none; padding:50px;background-repeat: no-repeat; background-position: 50% 50%; background-image: url(img/doc-bg.png); font-size:20px; font-size: 1.25em;}
		.certificate .print-title { font-size: 40px; font-size:2.5rem; color:#000; line-height:96px; line-height: 6rem; font-weight: 900}
		.certificate .info-list {margin-top:1cm;}
		.certificate .info-list li { border-bottom: 0 none; min-height:48px; padding:0 0 0 6.5em; line-height: 3rem}
		.certificate .receipt-issue{ position:absolute; bottom:3.5cm; left:0; width:100%;}
		.between-stamp {display:none; position:absolute; top:-15px; left:3cm;}
		#certificate .info-list .label { width:auto; vertical-align: top}
		#register-certificate .print-title { margin-bottom:1em}
		#register-certificate .receipt-issue .issuer { margin-top:1.5em}
	/* �꽦�쟻�몴 - �쁺�닔利�/�씠�닔利� �젙蹂� - �굹�쓽 媛뺤쓽�떎 */
		#scorecard .info-list { border-top:1px solid #f0f0f0; margin-top:10px}
	/* �뿰�닔怨꾪쉷�꽌 */
		.learnSchedule.print-wrap {border:0 none; padding:0}

/*--------------------------------------------------------------
	�봽由고듃 �쟾�슜
----------------------------------------------------------------*/
@media print{
	@page a4sheet{size:21.0cm 29.7cm}
		body{page:a4sheet;page-break-after:always}
		body>#u_skip, body>.page, .popup-header, .cl-popup-closer, .screen-only{display:none !important}
		.cl-popup-overlay { position: static; min-width:100%!important; height:auto!important; background-color: transparent; overflow:visible; margin:0!important; padding:0!important;}
		.cl-popup-box { position:static; width:100%!important; height:auto!important; margin:0!important;margin-left:0!important; padding:0!important;}
		.popup-body { margin:0!important; padding: 0}
		.print-wrap { margin-bottom:0}
		/* �굹�쓽 媛뺤쓽�떎 */
			#offlineTVS, #receipt { width:11cm; } /* �닔媛뺤쬆, �쁺�닔利� : 416px*/
			#receipt input {border:0 none;padding:0;color:#4c4b46}
			/*#receipt .group-list li>h5 {width:.5cm; margin:0 .2cm 0 .1cm;}
			#receipt .group-list>li>ul { margin-left:1cm; width:9cm; }
			#receipt .group-list>li>h5+ul {margin-left:0}*/
			.certificate { width:19cm; height:27.6cm;} /* �씠�닔利� */
			#scorecard { width:19cm;} /* �꽦�쟻�몴, �닔媛뺥솗�씤利� */
			.learnSchedule.print-wrap {width:19cm; height:auto}
	}