.rule h3{min-height:50px; line-height: 50px; font-size: 16px; font-size: 1rem; font-weight: 700;}
.rule p{font-weight: 700; margin-bottom: 5px;}
.rule span{ display: inline-block; margin-left: 10px; margin-bottom: 10px;}
.rule span.margin{ margin: 0px 25px 20px;}
.rule ol{ list-style-position: inside; margin-left: 10px; margin-bottom: 10px;}
.rule ul li{ list-style: none;}
.rule li{ text-indent: -15px; padding-left: 15px;}

.rule table{border-top: 1px solid #e0e0e0; margin: 10px 0px 20px 0px; text-indent: 0px;}
.rule table.margin_bottom{margin-bottom: 5px;}
.rule th,.rule td{ border-left: 1px solid #e0e0e0; padding: 10px 20px; width: 25%; border-bottom: 1px solid #e0e0e0;}
.rule table.cell th,.rule table.cell td{ padding: 10px 5px; width: auto;}
.rule table.cell caption{font-size: 15px; font-size: .937rem; font-weight: 700;}
.rule th.nth-1st,.rule td.nth-1st{border-left: 0px; vertical-align: middle;}
.rule th{border-bottom: 1px solid #e0e0e0; text-align: center;}
.rule table li{text-indent: 0px; padding-left: 0px;}

