@CHARSET "UTF-8";

header, body, footer {
	padding-left: 250px;
}

@media only screen and (max-width : 992px) {
	header, body, footer {
		padding-left: 0;
	}
}

.modal-header {
	background-color: #333333;
	padding: 1rem 0.7rem 1rem 0.7rem;
}