.pin-top, .pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}



/***************
    Nav List
***************/
.table-of-contents {
    right: 70px;
    text-align: left;
}

.table-of-contents li {
  padding: 2px 0;
}

.table-of-contents a {
  display: inline-block;
  font-weight: 300;
  color: #757575;
  padding-left: 16px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4;
  display: inline-block;
  text-align: left;
}

.table-of-contents a:hover {
  color: #a8a8a8;
  padding-left: 15px;
  border-left: 1px solid #ee6e73;
}

.table-of-contents a.active {
  font-weight: bold;
  padding-left: 14px;
  border-left: 2px solid #ee6e73;
}

