@charset "UTF-8";

/* ----------------------------------------------------------------
  >> TABLE OF CONTENTS:                   담당자 : 성지민
	0.0 font-face

	1.0 reset 표준화
    	- 1.1 HTML5 display-role reset for older browsers
    	- 1.2 Typography
        - 1.0 ALL Element
    	- 1.3 Table, Link
    	- 1.4 form element reset


	2.0 Plugin 관련 - Swiper(슬라이드)
        - 2.1 Main Slide Gallery
        - 2.2 Interview & Video Slide Gallery


    3.0 Layout Desgin - Common Style
        - 3.1 z-index
        - 3.2 content align
        - 3.3 icon
        - 3.4 text
        - 3.5 button
        - 3.6 color
        - 3.7 ETC function


    4.0 Main Page Design
        - 4.1 header
            - 4.1.1 top-banner
            - 4.1.2 header
                1) 공지사항
                2) 로그인/로그아웃
                3) 로고/검색창/SNS
            - 4.1.3 nav
                1) menu-btn 메뉴바
                2) nav
                3) fullNav 전체메뉴

        - 4.2 footer
            - 4.2.1 Scroll to Top
            - 4.2.2 footer

        - 4.3 main
            - 4.3.1 main-bannerWrap 슬라이딩 배너
            - 4.3.2 btnWrap 퀵메뉴 버튼
            - 4.3.3 hotNewWrap 인기강좌
            - 4.3.4 recommend-classWrap 분야별 추천 강좌
            - 4.3.5 banner-mid 중간 배너
            - 4.3.6 special-classWrap 특강 및 설명회
            - 4.3.7 customWrap
                - 1) 공지사항/이벤트 + FAQ
                - 2) 고객센터
            - 4.3.8 interviewWrap 홍보영상/인터뷰


    5.0 Contents Design - common
        - 5.1 subPage - subNav
        - 5.2 subPage - subContent
            - 5.2.1 pageLocation 사용자 위치 표시
            - 5.2.2 headerBox 카테고리별 header 이미지
            - 5.2.3 ProcessWrap 단계별 진행상황
            - 5.2.4 title 타이틀 공통
        - 5.3 subPage - section
            - 5.3.1 subPage - searchWrapper 과정명 검색
            - 5.3.2 subPage - searchWrapper 조건선택 필터
            - 5.3.3 subPage - searchWrapper 검색조건
                - 1) viewWrap : 10개씩 보기
                - 2) search-filter-wrap : 제목+내용 검색
            - 5.3.4 subPage - pagination 페이지 수
            - 5.3.5 subPage - sectionOutBtn (섹션 최하단 우측) 버튼

        -5.4 subPage - 리스트 페이지 (.eLearning)
            -5.4.1 리스트 페이지 공통 - 페이지 공통
            -5.4.2 리스트 페이지 공통 - 과정목록 Title
            -5.4.3 리스트 페이지 공통 - 과정목록 Content

        -5.5 subPage - 강의 리스트 페이지 (.eLearning)
            -5.5.1 강의 리스트 - 과정목록 Title
            -5.5.2 강의 리스트 - 과정목록 Content

        -5.6 subPage - 게시판 리스트 페이지 (.container.sub0$)
            -5.6.1 게시판 리스트 - 과정목록 Title
            -5.6.2 게시판 리스트 - 과정목록 Content

        -5.7 subPage - Tab Group 탭
            -5.7.1 Tab Group - Tab Title
            -5.7.2 Tab Group - Sub Group

        -5.8 subPage - formStyle
            -5.8.1 formStyle - common
            -5.8.2 formStyle - 게시글 보기
            -5.8.3 formStyle - writePost 글쓰기
            -5.8.4 formStyle - userInfo 회원정보 확인

        -5.9 subPage - table
            -5.9.1 table - thead
            -5.9.2 table - tbody


    6.0 Contents Design for Page (페이지별 개별화 된 콘텐츠 디자인)
        - 6.1 sub00 로그인/회원가입
            - 6.1.1 sub00-01 로그인
            - 6.1.2 sub00-02 회원가입
            - 6.1.3 sub00-03 아이디찾기
            - 6.1.4 sub00-04 비밀번호찾기

        - 6.2 eLearning(sub01~sub04) 온라인 강의
            - 6.2.1 eLearning-01 온라인 강의 목록
            - 6.2.2 eLearning-01-01 온라인 강의 상세

        - 6.3 sub05 커뮤니티
            - 6.3.1 sub05-01 공지사항/이벤트
            - 6.3.2 sub05-02 수강후기/인터뷰
            - 6.3.3 sub05-03 특강/설명회
            - 6.3.4 sub05-04 자유게시판

        - 6.4 sub06 고객센터
            - 6.4.1 sub06-01 고객지원
            - 6.4.2 sub06-02 FAQ
            - 6.4.3 sub06-03 단체/제휴문의
            - 6.4.4 sub06-04 오시는길

        - 6.5 sub07 나의강의실
            - 6.5.1 sub07-01 학습현황
            - 6.5.2 sub07-02 결제현황/환불
            - 6.5.3 sub07-03 마일리지
            - 6.5.4 sub07-04 개인정보수정
            - 6.5.5 sub07-05 회원탈퇴


    7.0 Popup Design - modal popup layer
        - 7.1 modal popup layer - layout
            - 7.1.1 modal popup layer - header
            - 7.1.2 modal popup layer - Content
                - 1) 수강신청
                    - 01수강신청
                    - 02환불규정
                    - 03결제방법
                - 2) 나의강의실
                    - 01학습현황
                    - 02학습하기
                    - 03온라인 과제
                    - 04온라인 시험
                    - 05공지사항
                    - 06자료실
                - 3) 영수증출력

※ 서버 적용 이후 '임시' 키워드 찾아 지울 것
----------------------------------------------------------------*/


.btn-bk {
    background-color: #444;
    color: #fff;
}

.btn-wh {
    background-color: #fff;
    border: 1px solid #444;
}

.btn-bl {
    border: 1px solid #2c67b0;
    color: #2c67b0;
}

.btn-bl:hover,
.btn-myClass {
    background-color: #2c67b0;
    color: #fff;
    padding: 0 10px;
}

.btn-myClass:hover {
    background-color: #11283b;
}

.btn-not,
.btn-not2 {
    padding: 0 10px;
    cursor: default;
    box-shadow: none;
}

.btn-not {
    border: 1px solid #11283b;
    color: #11283b;
}

.btn-not2 {
    background-color: #666;
    color: #fff;
    border: 1px solid #666;
}

.btn-pColor {
    background-color: #d78b16;
    color: #fff;
}

.btn-gd {
    background-color: #fff;
    border: 1px solid #d78b16;
    color: #d78b16;
}

.btn-gd:hover {
    background-color: #d78b16;
    color: #fff;
}

.btn-subBlue1,
.btn-subBlue2,
.btn-subBlue3 {
    color: #fff;
    opacity: .7;
}

.btn-subBlue1 {
    background-color: #6f8d9d;
}

.btn-subBlue2 {
    background-color: #415b69;
}

.btn-subBlue3 {
    background-color: #11283b;
}

.btn-subBlue1:hover,
.btn-subBlue2:hover,
.btn-subBlue3:hover {
    opacity: 1;
}

/* main - 분야별 추천 강좌 - 더보기 버튼 */
.more-btn {
    width: 120px;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 0.857rem;
}

.button-wrap {
    width: 100%;
    justify-content: flex-end;
}

.button-wrap>* {
    padding: 0 10px;
    line-height: 30px;
    margin-left: 10px;
}

/* enter-btn : 인증하기 버튼 */
.enter-btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto 40px;
}

.enter-btn:hover {
    font-weight: bold;
}


/* 3.7 ETC function */
/* - modal popup layer 활성화시 바디 스크롤 없애기 */
.not-scroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* content align */

/*--------------------------------------------------------------
  >> 5.0 Contents Design - common
----------------------------------------------------------------*/
/* 5.1 subPage */

/* - 5.1 subPage - subNav */

/* - 5.2 subPage - subContent */
.sub-content {
    width: 980px;
    margin: 0 0 0 20px;
}

/* - 5.2.1 pageLocation 사용자 위치 표시 */


/* - 5.2.2 headerBox 카테고리별 header 이미지 */


/* sub00, sub02 modal, sub07, sub07 modal의 header-box는 title로 대체됩니다. */
.sub-content .header {
    padding: 20px 0;
}

/* - 5.2.3 ProcessWrap 단계별 진행상황 */
.sub-content .processWrap {
    background-color: #f9f9f9;
}

.processWrap>.process {
    width: 33.3%;
    border-bottom: 5px solid #ccc;
    line-height: 54px;
    text-indent: 20px;
    color: #999;
}

.processWrap>.process>.mr10 {
    margin-right: 10px;
}

/* 현재 진행 단계(활성화) */
.processWrap>.active {
    color: #333;
    font-weight: bold;
/*     border-bottom: 5px solid #e7c186; */
    border-bottom: 5px solid #f1651d;
}

.processWrapBar>.active {
	color: #333;
    font-weight: bold;
    /* border-bottom: 5px solid #e7c186; */
    border-bottom: 5px solid #844ff5;
}

/* - 5.2.4 title 타이틀 공통 */
.article-title{
    padding: 10px 0;
}
.titleBar-hdr, .titleBar-hdr{
    padding-left: 10px;
    border-left: 5px solid #333;
}
.titleBar-hdr{
    height: 14px;
    line-height: 14px;
    margin: 3px 0;
    margin-right: 20px;
}

/* - 5.3 subPage - section */
.sub-content .section {
    /* margin: 30px 0 40px; */
    overflow: hidden;
}

/* - 5.3.1 subPage - searchWrapper 과정명 검색 */
.searchWrapper {
    margin: 10px 0;
}

.searchWrapper::after {
    content: '';
    display: block;
    clear: both;
}

.class-searchWrap {
    float: left;
}

.class-searchWrap .class-search-down {
    width: 355px;
    justify-content: space-between;
}

.class-searchWrap .class-search-down .cusPHIn.input {
    width: 320px;
    height: 30px;
    line-height: 29px;
    text-indent: 10px;
    margin-right: 5px;
}

.class-searchWrap .class-search-down .button {
    box-shadow: none;
    border: none;
    /* margin: 5px 10px 5px 0; */
	top: 5px;
    right: 40px;
}

/* - 5.3.2 subPage - searchWrapper 조건선택 필터 */

/* - 5.3.3 subPage - searchWrapper 검색조건 */
/* viewWrap : 10개씩 보기 / search-filter-wrap : 제목+내용 검색*/
.search-filter-wrap>.search-filter {
    width: 100px;
    line-height: 30px;
    text-indent: 5px;
    height: 30px;
    margin-right:10px;
}
/* - 5.3.5 subPage - sectionOutBtn (섹션 최하단 우측) 버튼 */
/* section-out-btn : sub05-04/sub06-01-02 */
.section-out-btn {
    float: right;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    min-width: 100px;
}

/* -5.4 subPage - 리스트 페이지 (.eLearning) */
/* -5.4.1 리스트 페이지 공통 */

/* -5.4.2 리스트 페이지 공통 - 과정목록 Title */


/* -5.4.3 리스트 페이지 공통  - 과정목록 Content */

/* -5.5 subPage - 강의 리스트 페이지 (.eLearning) */
/* -5.5.1 강의 리스트 - 과정목록 Title */

/* -5.5.2 강의 리스트 - 과정목록 Content */

/* -5.6 subPage - 게시판 리스트 페이지 (.container.sub0$) */
/* -5.6.1 게시판 리스트 - 과정목록 Title */
/* -5.6.2 게시판 리스트 - 과정목록 Content */
.c-table-num {
    /* width: 50px; */
    width: 5.31%;
} 

.c-table-name {
    /* width: 440px; */
    width: 46.80%;
}

.c-table-name-w {
     /* width: 490px; */
     width: 52.12%;
}

.c-table-name-wide {
    /* width: 690px; */
    width: 73.40%;
}
 
.c-table-04 {
    /* width: 400px; */
    width: 42.55%;
}

.c-table-03 {
    /* width: 300px; */
	width: 31.91%; 
}	

.c-table-02 {
    /* width: 200px; */
    width: 21.27%;
}

.c-table-01 {
    /* width: 100px; */
    width: 10.63%;
}

/* 2020-01-28 .numberSt 추가 */
.class-list .c-table-num.numberSt {
    line-height: 40px;
    height: 40px;
    background-color: rgba(175, 187, 196, .15);
}

.class-list .text-over-lh20 {
    text-align: left;
}

.class-tabMenu .class-list .button {
    width: 50px;
    margin: 0 auto;
}

/* 아이콘 정렬 */
.bgc-red,
.bgc-grn {
    height: 20px;
    padding: 0 5px;
    color: #fff;
}

.c-table-02>.icon-align {
    justify-content: center;
}

.class-list-wrap .icon-align>div:first-child {
    /* 20-08-31 margin-right : 10px > 5px로 수정 */
    margin-right: 5px;
}

/* open-asw / open-ctt */
.open-ctt,
.open-asw {
    display: none;
    border: 1px solid #eee;
    border-top: none;
    background-color: #f9f9f9;
}

.open-asw .aswr-box {
    padding: 10px;
}

.open-asw .Amark {
    margin-left: 5.31%;
}

.open-ctt .class-list-title {
    border: none;
    background-color: #f0f0f0;
}

/* open-class (sub07)상세보기/닫기 */
.open-class {
    justify-content: flex-end;
}

.open-class:hover {
    cursor: pointer;
    font-weight: bold;
}

.open-class>.img-icon {
    width: 15px;
    height: 15px;
    margin: 2.5px 5px;
}

/* -5.7 subPage - Tab Group 탭 */
/* -5.7.1 Tab Group - Tab Title */


/* .myClass .class-tabMenu>.tabGroup>li,
.sub07 .class-tabMenu>.tabGroup>li {
    background-color: rgba(175, 187, 196, .5);
    color: #396aa5;
}

.myClass .class-tabMenu>.tabGroup>li.active,
.myClass .class-tabMenu>.tabGroup>li:hover,
.sub07 .class-tabMenu>.tabGroup>li.active,
.sub07 .class-tabMenu>.tabGroup>li:hover {
    background-color: #396aa5;
    color: #fff;
} */

/* (sub06-02) plus-tabGroup : 관리자 탭 추가시 정렬*/
.class-tabMenu>.plus-tabGroup {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.class-tabMenu>.plus-tabGroup>li:nth-child(6n),
.class-tabMenu>.plus-tabGroup>li:last-child {
    margin-right: 0;
}

.class-tabMenu>.plus-tabGroup>li:nth-child(6n)~* {
    margin-top: 10px;
}

.class-tabMenu>.plus-tabGroup>li {
    width: 155px;
    padding: 0 10px;
    border-radius: 0;
    margin-right: 10px;
}

/* -5.7.2 Tab Group - Sub Group */
.class-tabMenu>.subGroup>.hideTab {
    display: none;
}

.class-tabMenu>.subGroup>.tab-sub {
    border: 1px solid #eee;
}

.class-tabMenu>.subGroup>.tab-sub .sub-segment {
    width: 100%;
}

.class-tabMenu>.subGroup>.tab-sub>.sub-section {
    margin: 20px;
}

/* -5.8 subPage - formStyle */
/* -5.8.1 formStyle - common */
.formStyle {
    width: 730px;
    margin: 0 auto;
}

.formStyle>div {
    line-height: 40px;
}

.formStyle>.d-flex .label {
    width: 130px;
    margin-right: 10px;
    font-weight: bold;
}

.formStyle .input,
.formStyle .select,
.formStyle .input-btn {
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
}

.formStyle .input,
.formStyle .select {
    text-indent: 10px;
}

.formStyle>.d-flex .select {
    width: 100px;
}

.formStyle .input-btn,
.formStyle>.d-flex .select.ml10 {
    margin-left: 10px;
}

.formStyle .w100 {
    width: 100px;
}

.formStyle .w355 {
    width: 355px;
}

.checkWrap {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

/* -5.8.2 formStyle - 게시글 보기 (19.12.20 수정됨) */
.view-post .section {
    margin: 0 0 40px;
}

.view-post .formStyle {
    width: 100%;
    margin: 20px auto 40px;
    border: 1px solid #ccc;
}

.view-post .formStyle .d-flex:nth-child(1)~*,
.view-post .post-content {
    border-top: 1px solid #ccc;
}

.view-post .formStyle>div>* {
    line-height: 25px;
    padding: 10px;
    cursor: default;
}

.view-post .d-flex>.label {
    text-align: center;
    margin-right: 0;
    background-color: rgba(111, 141, 157, .2);
    border-right: 1px solid #ccc;
}

.view-post .d-flex>div {
    width: calc(100% - 130px);
}

.view-post .post-content {
    padding: 10px;
}

/* -5.8.3 formStyle - writePost 글쓰기 */
.write-post .section {
    margin: 0;
}

.write-post .formStyle {
    padding: 10px 20px 20px;
    background-color: #f9f9f9;
}

.write-post .formStyle>.d-flex .label {
    width: 100px;
}

.write-post .formStyle .input {
    margin: 10px 0;
}

.write-post .formStyle,
.write-post .post-title,
.write-post .post-content,
.write-post .d-flex>div {
    width: 100%;
}

.write-post .post-content {
    max-height: 400px;
}

.write-post .button-wrap>* {
    width: 100px;
    margin: 20px 10px;
}

/* -5.8.4 formStyle - userInfo 회원정보 확인 */
.sub-content .userInfo {
    border: 1px solid #eee;
    /* margin: 0 0 40px; */
    padding: 20px 0 40px;
}
.header,
.userInfo>.header {
    text-align: center;
}
.header>.fz14,
.userInfo>.header>.fz14 {
    /* margin-top: 20px; */
    margin: 10px 0 20px;
}

.userInfo>.enterWrap,
.userInfo>.enterWrap>.form {
    width: 300px;
    margin: 0 auto;
}

.enterWrap>.form .input:not(.check) {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.userInfo .checkWrap {
    margin: 10px 0;
    padding: 0;
    text-align: left;
    background-color: inherit;
}

.userInfo .checkWrap .input {
    width: 14px;
    height: 14px;
}

.enterWrap>.form .button {
    margin: 20px 0;
    width: 300px;
    height: 40px;
    /* 20-10-12 background-color, color 삭제  */
    /* background-color: #444;
    color: #eee; */
}

.enterWrap>.form .button:hover {
    font-weight: bold;
    color: #fff;
}

/* -5.9 subPage - table */
.sub-segment .table {
    width: 100%;
    text-align: center;
    line-height: 30px;
}

/* -5.9.1 table - thead */
.sub-segment .table>thead,
.sub-segment .table th {
    background-color: #f9f9f9;
    color: #666;
}

/* -5.9.2 table - tbody */
.sub-segment .table tr,
.sub-segment .table td {
    border: 1px solid #eee;
}

.sub-segment .table td {
    vertical-align: middle;
    display: table-cell;
}

/*--------------------------------------------------------------
  >> 6.0 Contents Design for Page 페이지별 개별화 된 콘텐츠 디자인
----------------------------------------------------------------*/
/* - 6.1 sub00 로그인/회원가입 */
/* - 6.1.1 sub00-01 로그인 */
.enterWrap>.division-menuWrap {
    justify-content: center;
}

.enterWrap>.division-menuWrap>.divBar {
    margin: 0 10px;
}

.enterWrap>.division-menuWrap>li:not(.divBar):hover {
    font-weight: bold;
}

/* - 6.1.2 sub00-02 회원가입 */
.section .signUp-agree:nth-child(2)>.article-title {
    margin-top: 40px;
}

.signUp-agree>.text-box {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #eee;
    padding: 10px;
}

.signUp-agree .checkWrap {
    margin: 10px 0;
    padding: 0;
    text-align: left;
    background-color: inherit;
}

.all-check {
    padding: 20px 0;
    /* font-weight: bold; */
    /* background-color: #e7c186; */
    background-color: #e7e7e7;
}

/* certification 인증 */
.certification>.article-title {
    display: flex;
}

.certification>.certificationWrap {
    margin-top: 20px;
}

.certificationWrap>.certif-boxWrap {
    margin: 0 auto;
    justify-content: center;
}

.certif-boxWrap>.certif {
    /* width: 360px; */
    /* margin: 0 10px; */
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border: 1px solid #ccc;
}

.certif-boxWrap>.certif>.h3 {
    font-weight: normal;
    /* color: #d78b16; */
}

.certificationWrap>.certification-notice {
    width: 740px;
    margin: 20px auto 0;
}

/* .sub00 .section>.button-wrap {
    margin: 40px 0 0;
}

.sub00 .section>.button-wrap>.button {
    width: 120px;
} */

/* .sub00-02>.button{
    display: block;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    margin: 40px auto;
} */

/* 임시 버튼 → 인증 후 다음 페이지로 전환되므로 버튼 필요 없다. */
/* .sub00-02>.btn-next {
    margin-right: 0;
} */

/* - 6.1.3 sub00-03 아이디찾기 */
/* .section.sub00-03,
.section.sub00-04 {
    border: 1px solid #eee;
    margin: 0 0 40px;
    padding: 10px 20px 40px;
} */

.section.sub00-03>.sub-segment {
    width: 300px;
    margin: 0 auto;
}

/* - 6.1.4 sub00-04 비밀번호찾기 */
/* - 6.2 eLearning(sub01~sub04) 온라인 강의 */
/* - 6.2.1 eLearning-01 온라인 강의 목록 */
/* - 6.2.2 eLearning-01-01 온라인 강의 상세 */
.eLearning .section-class-detail {
    margin: 0 0 40px;
}

.eLearning .class-detail {
    /* width: 730px;
    	margin: 0 auto; */
    padding: 0 20px 20px 20px;
    border: 1px solid #eee;
    overflow: hidden;
}

.eLearning .class-detail>.c-ttl {
    width: 100%;
    /* height: 40px; */
    border-bottom: 1px solid #eee;
    padding : 20px 0;
}

.eLearning .class-detail>.c-ttl>.class-title-wrap>.filterWrap {
    /* 2020-01-28 너비값 삭제 */
    /* width: 240px; */
}

.eLearning .class-detail>.c-ttl>.class-title-wrap>.fz16 {
    margin-left: 10px;
}

.eLearning .class-detail>.c-img {
    width: 280px;
    height: 200px;
    margin: 0;
    margin-top: 20px;
    float: left;
}

.eLearning .class-detail>.c-info {
    width: calc(100% - 320px);
    float: left;
    margin: 20px;
    overflow: hidden;
}

.eLearning .class-detail>.c-info>* {
    line-height: 30px;
    text-align: left;
}

.eLearning .class-detail>.c-info>.info-ttl {
    margin-right: 20px;
    font-weight: bold;
}

.eLearning .class-detail>.c-info>.info-ctt {
    color: #999;
}

.eLearning .class-detail>.info-btnWrap {
    width: calc(100% - 280px);
    justify-content: flex-end;
}

.eLearning .class-detail>.info-btnWrap>* {
    margin: 0;
    margin-left: 10px;
}
.eLearning .class-detail>.info-btnWrap>form>a{
	display: block;
}

.eLearning .section-class-detail>.class-tabMenu {
    margin-top: 40px;
}

/* - 6.3 sub05 커뮤니티 */
/* - 6.3.1 sub05-01 공지사항/이벤트 */
/* 2020-01-28 (고정)공지사항 추가 */
.class-list.fixed-list {
    background-color: rgba(111, 141, 157, 0.1);
}

.class-list-wrap>.class-list.fixed-list:hover {
    background-color: rgba(111, 141, 157, 0.25);
}

/* - 6.3.2 sub05-02 수강후기/인터뷰 */
/* - 6.3.3 sub05-03 특강/설명회 */
/* - 6.3.4 sub05-04 자유게시판 */
/* - 6.4 sub06 고객센터 */
.sub-content .section.sub06-01-01,
.sub-content .section.sub06-01-02 {
    height: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

/* - 6.4.1 sub06-01 고객지원 */
.subPage_content .section.sub06-01-01 {
    padding-top: calc(1911 / 980 * 100%);
    background-image: url('../img/sub06-01-01.png');
}

.sub-content .section.sub06-01-02 {
    padding-top: calc(570 / 980 * 100%);
    background-image: url('../img/sub06-03-02.jpg');
    /* 원격지원버튼 위치 조정 */
    padding-bottom: 50px;
}

.sub06-01-02 .section-out-btn {
    margin-top: 20px;
}

/* - 6.4.2 sub06-02 FAQ */
/* - 6.4.3 sub06-03 단체/제휴문의 */
/* .sub06-03>img {
    margin: 20px 0 40px;
} */

/* - 6.4.4 sub06-04 오시는길 */
.map {
    width: 65%;
}

.map a {
    width: auto;
}

.map-wayWrap {
    padding: 0 10px;
    cursor: default;
}

.map-wayWrap .map-way:nth-child(1)~* {
    margin-top: 20px;
}

.map-way-hdr .img-icon {
    /* 20-08-31
    width,height 삭제
    margin 추가 */
    /* width: 40px; */
    /* height: 40px; */
    margin: 10px 5px 10px 0;
}

.map-way-hdr>* {
    line-height: 40px;
}

.map-wayWrap .way>li {
    line-height: 25px;
    text-indent: 10px;
}

.map-way-hdr>strong:not(.cMain),
.map-wayWrap .way>li>span {
    margin-left: 10px;
}

.c-blue {
    color: #0073cf;
}

.c-dred {
    color: #be0d34;
}

.c-dgreen {
    color: #007836;
}

.c-orange {
    color: #ff5012;
}

.c-green {
    color: #66bd2b;
}

.c-line2 {
    color: #36b42d;
}

.c-line9 {
    color: #bea01e;
}

/* - 6.5 sub07 나의강의실 */
/* - 6.5.1 sub07-01 학습현황 */
.sub07 .section {
    margin: 0 0 40px;
}

.btn-certificate {
    border: 1px solid #2c67b0;
    color: #2c67b0;
}

.btn-certificate:hover {
    background-color: #2c67b0;
    color: #fff;
}

/* - 6.5.2 sub07-02 결제현황/환불 */
.payment-wait
/* 결제 대기  */
,
.refund-N

/* 환불 불가 */
    {
    color: #999;
}

.payment-complete

/* 결제 완료 */
    {
    color: #396aa5;
    font-weight: bold;
}

.refundBox {
    
    margin: 0 auto;
    padding : 5px;
    /* width: 50px;
    line-height: 30px;
    height: 30px;
    font-weight: bold; */
    display : inline-block;
    height : 40px;
}

.refund-complete

/* 환불완료 */
    {
    color: #396aa5;
    border: 1px solid #396aa5;
}

.refund-Y

/* 환불가능 */
    {
    color: #c13831;
    border: 1px solid #c13831;
}

.refund-Y:hover {
    background-color: #c13831;
    color: #fff;
}

.refund-N

/* 환불 불가 */
    {
    border: 1px solid #999;
}

.sub07-02 .text-over-lh20 {
    /* 2020-01-28 추가 */
    padding: 0 5px;
}

/* - 6.5.3 sub07-03 마일리지 */
.my-mileageWrap {
    width: 300px;
    padding: 20px;
}

.my-mileageWrap>.my-mileage {
    padding: 10px 0;
}

/* .my-mileageWrap>.my-mileage>.h2 {
    color: #396aa5;
} */

/* 20-08-31 .mileageImg{...} 삭제 */
/* .mileageImg {
    width: 140px;
    height: 80px;
    background-position: -400px -40px;
} */
.mileage-list {
    width: calc(100% - 320px);
}

.mile-plus,
.mile-minus {
    font-weight: bold;
}

.sub07-03 .sub-section:nth-child(1)~* {
    margin-top: 40px;
}

.sub07-03 .sub-segment.c999 li:nth-child(1)~* {
    margin-top: 10px;
}

/* - 6.5.4 sub07-04 개인정보수정 */
.btn-save {
    width: 115px;
    margin: 20px 40px 0;
}

/* - 6.5.5 sub07-05 회원탈퇴 */
.sub07-05 .checkWrap {
    justify-content: space-between;
    line-height: 20px;
    height: 30px;
    border-bottom: 1px solid #f9f9f9;
}

.sub07-05 .checkWrap .label {
    width: auto;
}

.sub07-05 .checkWrap .input.check {
    margin: 4px 0;
}

.sub07-05>.button-wrap {
    justify-content: center;
    margin-top: 40px;
}

/*--------------------------------------------------------------
  >> 7.0 Popup Design - modal popup layer
----------------------------------------------------------------*/
/* - 7.1 modal popup layer - layout */
.modal {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    width: 1000px;
    height: 730px;
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

.modal-content .sub-content {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* - 7.1.1 modal popup layer - header */
/* .modal-content .sub-content>.header {
    position: relative;
}

.modal-content .sub-content .close-modal {
    position: absolute;
    right: 10px;
    top: 30px;
} */

/* - 7.1.2 modal popup layer - Content */
.modal .sub-content .section {
    margin: 0;
}

.modal-content .sub-content>.modal-sectionWrap {
    width: 100%;
    height: calc(100% - 210px);
    position: absolute;
    overflow-y: scroll;
    padding : 10px;
}

.modal .section .titleBar-hdr {
    width: 140px;
}

.modal .sub-segment {
    width: 100%;
}

.modal-ovflowY {
    overflow-y: scroll;
}

.modal .button-wrap {
    position: absolute;
    bottom: 0;
}

.modal .button-wrap>* {
    margin: 20px 10px;
    margin-right: 0;
    min-width: 100px;
}

/* - 7.1.2 modal popup layer - Content 1) 수강신청 */
.eLearning .modal-sectionWrap {
    padding: 20px;
}

.eLearning .modal-sectionWrap .section:nth-child(1)~* {
    margin-top: 20px;
}

/* modal popup layer 수강신청 - 01 수강신청 */
.modal .article-title {
    justify-content: space-between;
    /* padding:10px; */
}

/* .modal .article-title .btn-bk {
    padding: 0 20px;
    line-height: 30px;
}
 */
.modal-sectionWrap .formStyle {
    width: 100%;
}
.modal-sectionWrap .formStyle .input{
	text-indent : inherit;
}
.modal-sectionWrap .formStyle .select{
	margin : 0
}
/* modal popup layer 수강신청 - 02 환불규정 */
.modal .cancel-rule {
    display: flex;
    line-height: 30px;
    margin: 20px 10px;
}

.modal .cancel-rule .rule-ttl {
    width: 120px;
    font-weight: bold;
}

/* modal popup layer 수강신청 - 03 결제방법 */
.modal .text-box {
    line-height: 30px;
}

.modal .signWrap {
    justify-content: center;
}

.modal .input-ctt {
    display: none;
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    justify-content: flex-start;
}

.modal .bill-date>.txt {
    margin: 5px 10px;
    line-height: 15px;
}

/* modal popup layer 수강신청 - 04 결제 */
/* .section.modal-sub02-01-04>.header {
    text-align: center;
} */

.section.modal-sub02-01-04>.header>.fz14 {
    margin-top: 20px;
}

.modal-sub02-01-04 .button-wrap {
    justify-content: center;
    position: inherit;
}

/* - 7.1.2 modal popup layer - Content 2) 나의강의실 */
.myClass {
    border: 10px solid #f1651d;
}

.myClass>.sub-content {}

.myClass .modal-subGroup.modal-ovflowY {
    width: 100%;
    height: calc(100% - 120px);
    position: absolute;
    border-left: 3px solid #f4f4f4;
    border-bottom: 3px solid #f4f4f4;
}

.myClass .class-tabMenu>.subGroup>.tab-sub {
    border: none;
}

.myClass .button-wrap>.btn-myClass {
    padding: 5px 40px;
    font-weight: bold;
    font-size: 1.143rem;
    border-radius: 5px;
    background-color: #fff;
    color:f1651d;
    border : 1px solid #f1651d;
}

.myClass .button-wrap>.btn-myClass:hover {
    background-color: #f1651d;
    color : #fff;
}

.class-list-wrap.modal-ovflowY {
    border: 1px solid #eee;
}

/* modal popup layer 나의강의실 - 01 학습현황 */
/* 2020-03-25 학습현황 추가 */
.modal-sub07-01 .modal-subGroup>.sub01 {
    background-color: #f7f7f7;
    padding: 20px;
}

.statusWrap,
.completionWrap {
    padding: 20px;
    background-color: #fff;
}

.chart {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

.chart>.floatL {
    width: 80px;
    background-color: #e7e7e7;
    overflow: hidden;
}

.chart>.floatL>li {
    width: 100%;
    height: 160px;
    background-color: #e7e7e7;
    overflow: hidden;
    transform-origin: right;
}

.chart>.left {}

.chart>.left>li {
    transform: rotate(180deg);
    background: linear-gradient(to bottom, #fc6900 33%, #fc8e3f 66%, #fcb37e 100%);
}

.chart>.right {}

.chart>.right>li {
    margin-left: -80px;
    transform: rotate(0deg);
    /* background: linear-gradient(to top, #a4d9fc 50%, #9bd0f4 70%, #6ea2ce 100%); */
    /* background: linear-gradient(to top, #fcb37e 33%, #fedabf 66%, #fff 100%); */
    background: linear-gradient(to top, #fff 33%, #fedabf 66%, #fcb37e 100%);
}

.chart>.pannel {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
}

.chart>.pannel>.fz34 {
    text-align: center;
    line-height: 130px;
    font-weight: bold;
}

.statusWrap>.sub-sectionWrap>.sub-section:nth-child(1)~* {
    margin-top: 15px;
}

.statusWrap>.sub-sectionWrap>.sub-section>.titleBar-hdr {
    margin: 10px 0;
}

/* 수료조건 */
.completionWrap {
    margin-top: 20px;
}

.completionWrap>.completion {}

.completionWrap>.completion>.sub-section {
    margin: 8px 0;
}

.graphWrap {}

.graphWrap>.graphGroup {
    margin: 10px 0;
    padding: 10px 0;
    background-color: #f7f7f7;
}

.graphWrap>.graphGroup:nth-child(1)~* {}

.graphWrap>.graphGroup>.condition {
    width: 60px;
    text-align: center;
    font-weight: bold;
}

.graphWrap>.graphGroup>.graph {
    width: 440px;
    height: 20px;
    background-color: #fff;
}

.graphWrap>.graphGroup>.graph>.graph {
    height: 20px;
    background: linear-gradient(to right, #fedabf 25%, #fcb37e 50%, #fc8e3f 75%, #fc6900 100%);
}

.graphWrap>.graphGroup>.graph>.graph1 {
    /* width: calc((100% / 비중 배점) * 현재 점수); */
    width: calc((100% / 50) * 35);
}

.graphWrap>.graphGroup>.graph>.graph2 {
    width: calc((100% / 20) * 10);
}

.graphWrap>.graphGroup>.graph>.graph3 {
    width: calc((100% / 30) * 0);
}

.graphWrap>.graphGroup>.scoreWrap {
    width: 100px;
    padding-left: 20px;
}

/* 점수합계 */
.completionWrap>.scoreSum {
    margin-left: 20px;
}

.completionWrap>.scoreSum>.titleBar-hdr {
    margin: 13px 0;
}

.completionWrap>.scoreSum>.scoreWrap {
    width: 220px;
    background-color: #ccc;
    padding: 20px;
}

.completionWrap>.scoreSum>.scoreWrap>.score {
    color: #fff;
}

.completionWrap>.scoreSum>.scoreWrap>.score>.sumCondition {
    line-height: 40px;
    text-align: center;
}

.completionWrap>.scoreSum>.scoreWrap>.score>.totalScore {
    text-align: right;
}

.completionWrap>.scoreSum>.scoreWrap>.showTxt {
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
}

.completionWrap>.scoreSum>.scoreWrap>.showTxt>.cDanger {}

.completionWrap>.scoreSum>.scoreWrap>.showTxt>.cMain {
    display: none;
}

/* 2020-03-25 학습현황 끝 */
/* modal popup layer 나의강의실 - 02 학습하기 */
.modal-sub07-01 .class-list-title {
    /* padding-right: 20px; */
}

.tab-sub.sub02 .class-list-wrap.modal-ovflowY {
    height: 400px;
}

.attendanceN, .attendanceY {
    /* 20-08-31 width, height 삭제 */
    /* width: 15px; */
    /* height: 15px; */
    margin: 7.5px auto;
}
/* 20-08-31
.attendanceN{...} 삭제
.attendanceY{...} 삭제  */
/*.attendanceN {
    background-position: -75px -80px;

.attendanceY {
    background-position: -90px -80px;
} */
.class-tabMenu .class-list .btn-study {
    /* width: 80px; */
    padding: 5px 10px;
}

/* 설문조사 */
.surveyWrap {
    padding: 10px;
    margin-top: 20px;
    background-color: #d7dde1;
}

.modal .surveyWrap .titleBar-hdr {
    width: 135px;
}

.surveyWrap .buttonWrapper {
    margin-top: 10px;
    width: 100%;
    justify-content: flex-end;
}

.surveyWrap .buttonWrapper>.button:first-child~* {
    margin-left: 10px;
}

.surveyWrap .button {
    padding: 5px 10px;
    border-radius: 5px;
}
/* 20-08-31
.class-list .study,.surveyWrap .button .img-icon{...} 삭제 */
/* .class-list .study,
.surveyWrap .button .img-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
} */
/* 20-08-31 .class-list .study{...} 추가 */
.class-list .study{
    margin: 5px 5px 5px 0;
}
/* 20-08-31 .surveyWrap .button .img-icon{...} 추가 */
.surveyWrap .button .img-icon{
    margin-right: 5px;
}

/* 20-08-31
.check-square{...} 삭제
.ballot-check{...} 삭제
.edit{...} 삭제 */
/* .check-square {
    background-position: -107px -95px
}

.ballot-check {
    background-position: -127px -95px
}

.edit {
    background-position: -147px -95px
} */
/* modal popup layer 나의강의실 - 03 온라인 과제 */
.tab-sub.sub03 .modal-ovflowY,
.tab-sub.sub04 .modal-ovflowY {
    height: 550px;
}

.tab-sub.sub03 .class-list-wrap>.class-list:hover {
    cursor: default;
}

/* modal popup layer 나의강의실 - 04 온라인 시험 */
.table-standard {
    margin: 20px 0;
    width: calc(100% - 1px);
    text-align: center;
}

.table-standard .thead {
    line-height: 40px;
    border-right: 1px solid #ccc;
}

.table-standard .tbody * {
    border: 1px solid #ccc;
    vertical-align: middle;
    line-height: 30px;
}

.table-standard .tbody td {
    padding: 10px;
}

.table-standard .highlight {
    border: 2px solid #2c67b0;
    color: #2c67b0;
    font-weight: bold;
}

/* 2020-03-10 시험 응시 페이지 */
.sub07-testWrapper {
    display: block;
}

.test-header {
    background-color: rgba(44, 103, 176, .7);
    color: #fff;
    padding: 10px 20px;
    justify-content: space-between;
}

.test-header .titleWrap {}

.test-header .titleWrap .testTitle {
    line-height: 30px;
}

.test-header .titleWrap .infoWrap {
    margin-top: 5px;
}

.test-header .titleWrap .infoWrap .testInfo {
    margin-right: 10px;
}

.test-header .timerWrap {
    text-align: center;
}

.sub07 .sub07-01-01-test {
    overflow-y: scroll;
    height: calc(100vh - 80px);
    margin: 0;
}

.testForm {
    overflow: hidden;
}

.testForm .testSet {
    margin: 40px 0;
}

.testForm .testSet .testQ {
    padding: 10px;
    background-color: #f7f7f7;
}

.testForm .testSet .testQ .qNumber {
    width: 90px;
    background-color: rgba(44, 103, 176, .7);
    padding: 5px 10px;
    color: #fff;
    text-align: center;
}

.testForm .testSet .testQ .qScore {
    line-height: 30px;
    margin-left: 10px;
}

.testForm .testSet .testQ .question {
    margin: 5px;
}

.testForm .testSet .testA,
.testForm .testSet .aBox {
    margin-top: 10px;
}

.testForm .testSet .testA {}

.testForm .testSet .testA .answer {
    margin: 20px 0;
}

.testForm .testSet .testA .answer>label {
    margin-left: 5px;
}

/* 시험제출버튼 */
.testForm .submitBtn {
    padding: 10px;
    width: 150px;
    margin: 20px;
    float: right;
}

.testForm .btn-pColor:hover {
    font-weight: bold;
}

/* 과제제출버튼 */
.open-ctt .testForm.d-flex {
    justify-content: space-between;
}

.open-ctt .testForm.d-flex>.fileC {
    padding: 10px;
}

.open-ctt .testForm .submitBtn {
    margin: 0;
}

/* modal popup layer 나의강의실 - 05 공지사항 */
.tab-sub.sub05 .modal-ovflowY,
.tab-sub.sub06 .modal-ovflowY {
    height: 500px;
}

/* modal popup layer 나의강의실 - 06 자료실 */
/* - 7.1.2 modal popup layer - Content 3) 영수증 출력 */
.modal-sub07-02 {
    /* 2020-01-28 positionImg 도장 이미지 수정 */
    position: relative;
}

.modal-content.printReceipt {
    /* 2020-01-28 품목 삭제 후 높이값 조절 */
    height: 550px;
}

.table-receipt {
    width: 100%;
    border-right: 1px solid #ccc;
}

.table-receipt .thead {
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
}

.table-receipt .tbody * {
    border: 1px solid #ccc;
    vertical-align: middle;
}

.table-receipt .tbody th {
    line-height: 30px;
}

.table-receipt .tbody td {
    padding: 10px;
}

.table-receipt .receiptTo {
    padding: 0 10px;
}

.table-receipt .receiptDate,
.table-receipt .receiptItemAmount {
    text-align: center;
}

.table-receipt .receiptTo,
.table-receipt .receiptValue,
.table-receipt .receiptTax,
.table-receipt .receiptItemPrice,
.table-receipt .receiptItemValue,
.table-receipt .receiptTotal {
    text-align: right;
}

.table-receipt .receiptTotal {
    font-weight: bold;
}

.table-receipt .receiptItemList {
    width: 40%;
}

.table-receipt .receiptItemPrice,
.table-receipt .receiptItemValue,
.table-receipt .receiptItemAmount {
    width: 10%;
}

.positionImg>img {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 80px;
    height: 80px;
    opacity: 0.3;
}

.table-receipt th.lh50 {
    line-height: 50px;
}

/* 임시 이미지 - 개발 적용 후 지울 것 */
.sub-content {
    background-repeat: no-repeat;
}

.section.sub01-01,
.section.sub01-02,
.section.sub01-03,
.section.sub01-04,
.section.sub03-01,
.sub03-02,
.sub03-03,
.sub03-04,
.sub-content .sub04-01,
.sub-content .sub04-02 {
    height: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    padding-top: calc(1040 / 900 * 100%);
}

.section.sub01-01,
.section.sub01-02,
.section.sub01-03,
.section.sub01-04 {
    background-image: url('../img/sub01-01.jpg');
}

.section.sub03-01,
.sub03-02,
.sub03-03,
.sub03-04 {
    background-image: url('../img/sub03-01.jpg');
}

.sub-content .sub04-01,
.sub-content .sub04-02 {
    background-image: url('../img/sub04-01.jpg');
}

.sub05-02-02,
.sub05-03-02 {
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
}

.sub05-02-02 {
    padding-top: calc(720 / 900 * 100%);
    background-image: url('../img/sub05-02-02.jpg');
}

.sub05-03-02 {
    padding-top: calc(880 / 900 * 100%);
    background-image: url('../img/sub05-03-02.jpg');
}
