<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SEGroup 통합학사관리 관리자 SQL -->
<mapper namespace="global.segroup.society.smtp.admin.dao.SocietySmtpAdminMapper">
	
	<!-- 통합 검색 시작 -->
	
	<!-- 특정 과정 분류의 과정들 정보 조회 시작 -->
<!-- 	<select id="searchCurriculum" parameterType="String" resultType="SMTPCurriculum">
		select
			crc_code
			, crc_section
			, crc_subsection
			, crc_nm
			, crc_introduction
			, crc_img_origin
			, crc_img_saved
			, crc_pay
			, crc_pay_opt
			, crc_pay_division
			, crc_graduation_opt
			, crc_graduation_opt2
			, crc_hashtag
		from
			SMTP_CURRICULUM_TB
		where
			crc_section = #{crc_section}
	</select> -->
	<!-- 특정 과정 분류의 과정들 정보 조회 종료 -->
	
	<!-- 특정 과정의 과정기수들 검색 시작 -->
<!-- 	<select id="searchCurriculumGisu" parameterType="String" resultType="SMTPCurriculumGisu">
		select
			crc_gisu_code
			, crc_code
			, crc_nm
			, crc_gisu_nm
			, crc_gisu_num
			, crc_gisu_section
			, crc_gisu_subsection
			, crc_gisu_introduction
			, crc_gisu_img_origin
			, crc_gisu_img_saved
			, crc_gisu_pay
			, crc_gisu_pay_opt
			, crc_gisu_division
			, crc_gisu_graduation_opt
			, crc_gisu_graduation_opt2
			, crc_gisu_status
			, crc_gisu_hashtag
			, crc_gisu_it_class
			, crc_gisu_foreign_class
			, crc_gisu_occupancy
			, crc_gisu_location
			, crc_gisu_days
			, crc_gisu_months
			, crc_gisu_times
			, crc_gisu_edu_start_dt
			, crc_gisu_edu_end_dt
			, crc_gisu_enroll_start_dt
			, crc_gisu_enroll_end_dt
			, crc_gisu_repeat_start_dt
			, crc_gisu_repeat_end_dt
		from
			SMTP_CURRICULUM_GISU_TB
		where
			crc_code = #{crc_code}
	</select> -->
	<!-- 특정 과정의 기수들 검색 종료 -->
	
	<!-- 통합 검색 종료 -->
	
	
</mapper>