<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled"        value="false"/>
	</settings>
	<typeAliases>
		<typeAlias type="global.segroup.domain.User" alias="User" />
		<typeAlias type="global.segroup.domain.UserVerification" alias="UserVeri" />
		<typeAlias type="global.segroup.domain.Admin" alias="Admin" />
		<typeAlias type="global.segroup.domain.BoardGroup" alias="BoardGroup" />
		<typeAlias type="global.segroup.domain.BoardContent" alias="BoardContent" />
		<typeAlias type="global.segroup.domain.BoardFile" alias="BoardFile" />
		<typeAlias type="global.segroup.domain.CertificationCode" alias="CertificationCode" />
		<typeAlias type="global.segroup.domain.FaqConsultingContents" alias="FaqConsultingContents" />
		<typeAlias type="global.segroup.domain.OnlineConsultingContents" alias="OnlineConsultingContents" />
        <typeAlias type="global.segroup.domain.OfflineConsultingContents" alias="OfflineConsultingContents" />
		
		<typeAlias type="global.segroup.school.book.admin.domain.Book" alias="Book" />
		<typeAlias type="global.segroup.school.book.admin.domain.BookInfo" alias="BookInfo" />
		<typeAlias type="global.segroup.school.book.admin.domain.RecordReturn" alias="RecordReturn" />
		<typeAlias type="global.segroup.school.book.admin.domain.SchoolBookAdmin" alias="SchoolBookAdmin" />
		<typeAlias type="global.segroup.school.book.admin.domain.SubAdmin" alias="SubAdmin" />
		
		<typeAlias type="global.segroup.school.book.domain.PurchaseReq" alias="PurchaseReq" />
		<typeAlias type="global.segroup.school.book.domain.PurchaseReqRank" alias="PurchaseReqRank" />
		<typeAlias type="global.segroup.school.book.domain.RentalState" alias="RentalState" />

		<typeAlias type="global.segroup.school.book.user.domain.BookMark" alias="BookMark" />
		<typeAlias type="global.segroup.school.book.user.domain.Reservation" alias="Reservation" />
		<typeAlias type="global.segroup.school.book.user.domain.Review" alias="Review" />
		<typeAlias type="global.segroup.school.book.user.domain.SchoolBookUser" alias="SchoolBookUser" />

		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyForm" alias="SEAForm" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyEduHistory" alias="SEAEduHistory" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyCareer" alias="SEACareer" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyStudy" alias="SEAStudy" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyLanguage" alias="SEALanguage" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyLicense" alias="SEALicense" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyOverseas" alias="SEAOverseas" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyFile" alias="SEAFile" />
		<typeAlias type="global.segroup.society.edu.apply.domain.SocietyEduApplyResult" alias="SEAResult" />
		<typeAlias type="global.segroup.society.edu.admin.domain.SocietyEduAdminCurriculum" alias="SEACurriculum" />
		<typeAlias type="global.segroup.society.edu.admin.domain.SocietyEduAdminPayment" alias="SEAPayInfo" />
		<typeAlias type="global.segroup.society.edu.admin.domain.SocietyEduAdminCurriculumGisu" alias="SEACurGisu" />
		<!-- 과정 개설 이미지 등록; 2018. 9. 18. 김준영 -->
		<!-- <typeAlias type="global.segroup.society.edu.admin.domain.SocietyEduAdminCurriculumImage" alias="SEACurImg"/> -->
		<!-- 기수 이미지 등록; 2018. 9. 18. 신동철 -->
		<typeAlias type="global.segroup.society.edu.admin.domain.SocietyEduAdminCurriculumGisuImg" alias="SEACurGisuImg" />
		
		<!-- 배너 및 서브배너 등록; 2018. 9. 20. 정대영 -->
		<typeAlias type="global.segroup.society.edu.admin.domain.SocietyEduAdminBanner" alias="SEABanner" />
		<typeAlias type="global.segroup.society.edu.admin.domain.SocietyEduAdminSubBanner" alias="SEASubBanner" />
		
		<typeAlias type="global.segroup.society.edu.user.domain.RefundInfo" alias="RefundInfo" />
		
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentForm" alias="SMPForm" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentEduHistory" alias="SMPEduHistory" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentCareer" alias="SMPCareer" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentStudy" alias="SMPStudy" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentLanguage" alias="SMPLanguage" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentLicense" alias="SMPLicense" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentOverseas" alias="SMPOverseas" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpStudentFile" alias="SMPFile" />
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpSchedule" alias="SMPSchedule"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpScheduleColor" alias="SMPScheColor"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpScheduleScheduleColor" alias="SMPSSColor"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsSetList" alias="SMPApsSetList"/>
    	<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsSetDetail" alias="SMPApsSetDetail"/>
    	<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsSetTotal" alias="SMPApsSetTotal"/>
    	<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsSetGroup" alias="SMPApsSetGroup"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsTotal" alias="SMPApsTotal"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsGroup" alias="SMPApsGroup"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsGroupExam" alias="SMPApsGroupExam"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsGroupSubexam" alias="SMPApsGroupSubexam"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsGroupConfirmation" alias="SMPApsGroupConfirmation"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsDetail" alias="SMPApsDetail"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsDetailExam" alias="SMPApsDetailExam"/>
		<typeAlias type="global.segroup.society.smp.admin.domain.SocietySmpApsDetailSubexam" alias="SMPApsDetailSubexam"/>
		
	<!-- FAP 통합잡페어 시작 -->
		<!-- 관리자 잡페어 세부 및 시간별 채용공고별 쿼터 충돌된 지원자 정보; 2019. 1. 11. 정대영 -->	
		<typeAlias type="global.segroup.society.fap.adminuser.domain.SocietyFapAdminUserOfConflictedQuarter" alias="FAPUserOfConflictedQuarter"/>
		<!-- 잡페어 정보 2018. 12. 6. 신동철 -->	
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfair" alias="FAPAdminJobfair"/>
		<!-- FAQ 정보 2019. 4. 9. 이종호 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminFaqGb" alias="FapAdminFaqGb"/>
		<!-- 잡페어 현지면접 인원제한 정보 2019. 7. 30 이종호 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminLimitInterview" alias="FAPAdminLimitInterview"/>
		<!-- 잡페어 세부구분 정보 2018. 12. 6. 신동철 -->	
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairDivide" alias="FAPAdminJobfairDivide"/>
		<!-- 회원잡페어 객체 2018. 12. 10. 신동철 -->	
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairApply" alias="FAPAdminJobfairApply"/>
		<!-- 지원 룰 객체 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairApplyRule" alias="FAPAdminJobfairApplyRule"/>
		<!-- 회사잡페어 객체 2018. 12. 10. 신동철 -->	
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairComp" alias="FAPAdminJobfairComp"/>
		<!-- 잡페어 개최지 객체 2018. 12. 10. 신동철 -->	
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairLo" alias="FAPAdminJobfairLo"/>
		<!-- 잡페어 세부채용대상 객체 2018. 12. 10. 신동철 -->	
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairDivideRc" alias="FAPAdminJobfairDivideRc"/>
		<!-- 도쿄 페어 설정 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairSet" alias="FAPAdminJobfairSet"/>
		<!-- 도쿄 페어 날짜 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairSetDate" alias="FAPAdminJobfairSetDate"/>
		<!-- 도쿄 페어 일정 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairSetTime" alias="FAPAdminJobfairSetTime"/>
		<!-- 잡페어별 임시 결제 그룹 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapPerJobfairTempGroup" alias="FAPJobfairTempGroup"/>
		<!-- 세부잡페어별 임시 결제 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapPerJobfairDivideTemp" alias="FAPJobfairDivideTemp"/>
		<!-- 회사별 임시 결제 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapPerCompTempPayment" alias="FAPCompTempPayment"/>
		<!-- 최종확정 기간 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminFinalDecisionTime" alias="FAPFinalDecisionTime"/>
		<!-- 오픈잡페어 설명회 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapOpenPt" alias="FAPOpenPt"/>
		<!-- 오픈잡페어 설명회 지원자 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapOpenPtApply" alias="FAPOpenPtApply"/>
		<!-- 오픈잡페어 설명회 지원자 이력서 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapOpenPtResume" alias="FAPOpenPtResume"/>
		<!-- 오픈잡페어 취업정보 & 전략 정보 ; 2019. 6. 26 김경아 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapOpenJobInfo" alias="FAPOpenJobInfo"/>
		<!-- FAP 팝업 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapPopup" alias="FAPPopup"/>
		<!-- FAP 지원자 메인페이지 기업컨텐츠 관리 정보 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapMainpageContent" alias="FAPMainpageCt"/>
		<!-- 잡페어 회사 객체; 2018. 12. 11. 김준영 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapCompanyUser" alias="SocietyFapCompanyUser"/>
		<!-- 잡페어 회사-담당자 연결 객체; 2018. 12. 12. 김준영 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapCompanyUserConnect" alias="SocietyFapCompanyUserConnect"/>
		<!-- 잡페어 이력서 객체; 2018. 12. 13. 남유송 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeForm" alias="ResumeForm"/>
		<!-- 잡페어 이력서 객체; 2018. 12. 13. 남유송 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeName" alias="ResumeName"/>
		<!-- 잡페어 이력서 객체; 2018. 12. 13. 남유송 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeEduhistory" alias="ResumeEduhistory"/>
		<!-- 잡페어 일반 회원 유저 정보; 2018. 12. 13. 김준영 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapPersonalUser" alias="FapPersonalUser"/>
		<!-- 잡페어 일반 회원 고등학교 정보; 2018. 12. 13. 김준영 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapPersonalHighschool" alias="FapPersonalHighschool"/>
		<!-- 잡페어 일반 회원 대학교 정보; 2018. 12. 13. 김준영 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapPersonalUniversity" alias="FapPersonalUniversity"/>
		<!-- 잡페어 일반 회원 대학원 정보; 2018. 12. 13. 김준영 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapPersonalGraduate" alias="FapPersonalGraduate"/>
		<!-- 잡페어 기업로드맵 잡페어 객체 2018. 12. 14 원병호 -->
		<typeAlias type="global.segroup.society.fap.companyroadmap.domain.SocietyFapCompanyRoadmapJobfair" alias="CompanyRoadmapJobfair"/> 
		<!-- 잡페어 이력서 자격증 객체; 2018. 12. 14. 남유송 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeLicense" alias="ResumeLicense"/>
		<!-- 잡페어 이력서 사회경력 객체; 2018. 12. 14. 남유송 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeCareer" alias="ResumeCareer"/>
		<!-- 잡페어 이력서 프로젝트 객체; 2018. 12. 14. 남유송 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeProject" alias="ResumeProject"/>
		<!-- 잡페어 이력서 프로젝트 객체; 2018. 12. 14. 남유송 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeTalent" alias="ResumeTalent"/>
		<!-- 잡페어 이력서 PR 객체; 2018. 12. 16. 남유송 -->	
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeProfile" alias="ResumeProfile"/>
		<!-- 잡페어 이력서 주소 객체; 2018. 12. 16. 남유송 -->	
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeAddr" alias="ResumeAddr"/>
		<!-- 잡페어 파일 객체; 2018. 12. 17. 남유송 -->	
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserResumeFile" alias="ResumeFile"/>
		<!-- 잡페어 에이전시 기업 연결 객체; 2018. 12. 18. 김준영 -->
		<typeAlias type="global.segroup.society.fap.agency.domain.SocietyFapAgencyCompanyConnect" alias="AgencyCompanyConnect"/>
		<!-- 잡페어 기업로드맵 잡페어 객체 2018. 12. 14 원병호 -->
		<typeAlias type="global.segroup.society.fap.companyroadmap.domain.SocietyFapCompanyRoadmapJobfairDivide" alias="CompanyRoadmapJobfairDivide"/> 
		<!-- 잡페어 채용공고 기본정보 객체 2018. 12. 24. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobAd" alias="JobAd"/>
		<!-- 잡페어 채용공고 기숙사 정보 객체 2018. 12. 26. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobDorm" alias="JobDorm"/>
		<!-- 잡페어 채용공고 계약사원 정보 객체 2018. 12. 26. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobJitEmployee" alias="JobJitEmployee"/>
		<!-- 잡페어 채용공고 업무에 필요한 일본어 정보 객체 2018. 12. 26. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobJaLevel" alias="JobJaLevel"/>
		<!-- 잡페어 채용공고 시용기간 정보 객체 2018. 12. 26. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobTrial" alias="JobTrial"/>
		<!-- 잡페어 채용공고 회사명 정보 객체 2018. 12. 27. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobComp" alias="JobComp"/>
		<!-- 잡페어 채용공고 채용전형 정보 2018. 12. 27. 원병호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobRecruitPcs" alias="JobRecruitPcs"/> 
		<!-- 도쿄페어 전형 정보 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapTokyofairScreening" alias="tokyofairScr"/>
		<!-- 도쿄페어 전형 인원 정보 --> 
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapTokyofairScrUser" alias="tokyofairScrUser"/>
		<!-- 도쿄페어 날짜 정보 -->
		 <typeAlias type="global.segroup.society.fap.company.domain.SocietyFapTokyofairDate" alias="tokyofairDate"/>
		<!-- 잡페어 채용기업 그룹설정 정보 2018. 12. 29. 신동철 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminJobfairCompGroup" alias="FAPAdminJobfairCompGroup"/>
		<!-- 잡페어 채용공고 파일 정보 객체 2018. 12. 30. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobFile" alias="JobFile"/>
		<!-- 잡페어 채용공고 보험 정보 객체 2018. 12. 31. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobIsr" alias="JobIsr"/>
		<!-- 잡페어 채용공고 입사예정일 정보 객체 2018. 12. 31. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobJoinDt" alias="JobJoinDt"/>
		<!-- 잡페어 채용공고 주요업무 정보 객체 2018. 12. 31. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobWork" alias="JobWork"/>
		<!-- 잡페어 채용공고 모집직종 정보 객체 2018. 12. 31. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobCategory" alias="JobCategory"/>
		<!-- 잡페어 채용공고 우대사항 정보 객체 2018. 12. 31. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobPref" alias="JobPref"/>
		<!-- 잡페어 공통 내정서류 객체 2019. 1. 1. 신동철 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapCommonRequiredDoc" alias="FAPCommonRequiredDoc"/>
		<!-- 잡페어 채용공고 근무예정지 정보 객체 2019. 1. 2. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobWorkplace" alias="JobWorkplace"/>
		<!-- 잡페어 채용공고 상세근무예정지 정보 객체 2019. 1. 2. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobWorkplaceDtl" alias="JobWorkplaceDtl"/>
		<!-- 잡페처 취업지원자 채용공고 지원가능시간 관리 객체 2019. 1. 3. 신동철 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapJobfairApplicableTime" alias="FAPJobfairApplicableTime"/>
		<!-- 잡페어 채용공고 채용전형 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobRecruitPcs" alias="JobRecruitPcs"/>
		<!-- 잡페어 채용공고 시험전형 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobExam" alias="JobExam"/>
		<!-- 잡페어 채용공고 시험문제파일 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobExamFile" alias="JobExamFile"/>
		<!-- 잡페어 채용공고 시험대상자(기타) 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobExamObjEtc" alias="JobExamObjEtc"/>
		<!-- 잡페어 채용공고 시험감독관(기타) 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobExamSvEtc" alias="JobExamSvEtc"/>
		<!-- 잡페어 채용공고 시험준비물(기타) 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobExamNeedEtc" alias="JobExamNeedEtc"/>
		<!-- 잡페어 채용공고 시험종류 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobExamType" alias="JobExamType"/>
		<!-- 잡페어 채용공고 면접전형 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobItv" alias="JobItv"/>
		<!-- 잡페어 채용공고 면접방식(기타) 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobItvTpEtc" alias="JobItvTpEtc"/>
		<!-- 잡페어 채용공고 면접대상자(기타) 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobItvObjEtc" alias="JobItvObjEtc"/>
		<!-- 잡페어 채용공고 기타전형 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobTestEtc" alias="JobTestEtc"/>
		<!-- 잡페어 채용공고 기타전형대상자(기타) 정보 객체 2019. 1. 4. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobTestEtcObj" alias="JobTestEtcObj"/>
		<!-- 잡페어 내정자 객체 2019. 1. 5. 신동철 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapNominee" alias="FAPNominee"/>
		<!-- 잡페어 개인 내정서류 객체 2019. 1. 5. 신동철 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapPersonalRequiredDoc" alias="FAPPersonalRequiredDoc"/>
		<!-- 잡페어 채용공고 급여정보 객체 2019. 1. 8. 원병호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobPay" alias="JobPay"/>
		<!-- 잡페어 채용공고 급여정보 객체 2019. 1. 9. 원병호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobPayBase" alias="JobPayBase"/>
		<!-- 잡페어 채용공고 잔업수당 객체 2019. 1. 9. 원병호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobPayExtra" alias="JobPayExtra"/>
		<!-- 잡페어 채용공고 서비스잔업수당 객체 2019. 1. 9. 원병호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobServiceWork" alias="JobServiceWork"/>
		<!-- 잡페어 채용공고 잔업수당 객체 2019. 1. 9. 원병호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobPayEtc" alias="JobPayEtc"/>
		<!-- 현지잡페어 참가정보 객체 2019. 1. 10. 이종호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapLaJobSet" alias="LaJobSet"/>
		<!-- 현지잡페어 참가 시간정보 객체 2019. 1. 10. 이종호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapLaJobPlan" alias="LaJobPlan"/>
		<!-- 채용공고 노출 대상자 정보 2019. 3. 22 이종호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobAdShow" alias="JobAdShow"/>
		<!-- 채용전형 스케줄 객체 2019. 1. 13. 신동철 -->	
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapJobRecruitPcsSch" alias="JobRecruitPcsSch"/>		
		<!-- FAP 기업 - 담당자 연결 요청 객체; 2019. 2. 7. 김준영  -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapCompUserConnectRequest" alias="CompUserConnectRequest"/>
		<!-- 채용공고 모집직종(기타) 정보 객체 2019. 2. 8. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobCategoryEtc" alias="JobCategoryEtc"/>
		<!-- 채용공고 근무예정지(기타) 정보 객체 2019. 2. 8. 이재준 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobWorkplaceEtc" alias="JobWorkplaceEtc"/>
		<!-- FAP 통합잡페어 공지사항 부가내용; 2019. 2. 19 신동철 -->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminNoticeContent" alias="FapNoticeContent"/>
		<!-- 채용공고 지원자관리 전형별 결과; 2019. 2. 24 신동철 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobApplyResult" alias="JobApplyResult"/>
		<!-- 채용공고 지원자관리 최종 결과; 2019. 2. 24 신동철 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapJobApplyFinalResult" alias="JobApplyFinalResult"/>
		<!-- FAP 잡페어별 취업지원자 지망개수 설정; 2019. 2. 25 신동철 -->
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapUserApplyNumbers" alias="FapUserApplyNumbers"/>
	    <!-- FAP 관리자 알림 설정; 2019. 8. 29 김경아-->
		<typeAlias type="global.segroup.society.fap.admincommon.domain.SocietyFapAdminNoticeAlim" alias="SocietyFapAdminNoticeAlim"/>
	
		<!-- FAP 채용공고 Q&A 질문 객체; 2019. 3. 6. 원병호 -->	
		<typeAlias type="global.segroup.society.fap.user.domain.SocietyFapQnaQuestion" alias="FapQnaQ"/>
		<!-- FAP 채용공고 Q&A 답변 객체; 2019. 3. 6. 원병호 -->
		<typeAlias type="global.segroup.society.fap.company.domain.SocietyFapQnaAnswer" alias="FapQnaA"/>
	
	<!-- FAP 통합잡페어 끝 -->
	
	<typeAlias alias="StudentEnterCRC" type="global.segroup.society.student.user.dto.Student_Enter_CRC_DTO"/>

	<typeAlias alias="StudentResumeApplyHistory" type="global.segroup.society.student.user.dto.Student_Resume_Apply_History_DTO"/>
	
	<typeAlias alias="CardinalDTO" type="global.segroup.society.student.user.dto.CardinalDTO"/>
	
	<typeAlias alias="CourseDTO" type="global.segroup.society.student.user.dto.CourseDTO"/>
	
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/common/commonMapper.xml" />

		<mapper resource="mapper/school/book/adminMapper.xml" />
		<mapper resource="mapper/school/book/userMapper.xml" />
		<mapper resource="mapper/school/book/utilMapper.xml" />
		<mapper resource="mapper/common/commonMapper.xml" />

		<mapper resource="mapper/society/edu/applyMapper.xml" />
		<mapper resource="mapper/society/edu/adminMapper.xml" />
		<mapper resource="mapper/society/edu/userMapper.xml" />
		<mapper resource="mapper/society/smp/adminMapper.xml" />
		
		<!-- 통합 잡페어 시스템 Mapper -->
		<mapper resource="mapper/society/fap/adminCommonMapper.xml" />
		<mapper resource="mapper/society/fap/adminUserMapper.xml" />
		<mapper resource="mapper/society/fap/adminCompanyMapper.xml" />
		<mapper resource="mapper/society/fap/companyMapper.xml" />
		<mapper resource="mapper/society/fap/userMapper.xml" />
		<mapper resource="mapper/society/fap/agencyMapper.xml" />
		<!-- 12월 12일 원병호, 기업 로드맵 매퍼 -->
		<mapper resource="mapper/society/fap/companyRoadmapMapper.xml" />
	</mappers>
	
</configuration>