<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SEGroup 과정 지원신청 SQL -->
<mapper namespace="global.segroup.society.smtp.apply.dao.SocietyStudentApplyMapper">
	
	<!-- 기수이름, 지원마감일 조회 시작 -->
	<select id="selectGisuInfo" parameterType="String" resultType="Hashmap">
		SELECT 
			name gisu_nm
			,app_end_date 
		FROM 
			cb_cardinal
		WHERE 
			id = #{cardinal_id}
	</select>
	<!-- 기수이름, 지원마감일 조회 종료 -->
	
	<!-- 지원 이력 조회 시작 -->
	<select id="selectApplyInfo" parameterType="Hashmap" resultType="Hashmap">
		SELECT
			apply.user_id
		    ,apply.gisu_id
		    ,gisu.name
		    ,apply.stu_app_rt_doc
		    ,apply.stu_app_rt_itv
		FROM
			smtp_apply_form_tb apply
		    ,cb_cardinal gisu
		WHERE
			apply.gisu_id = gisu.id
			AND
			apply.user_id = #{user_id}
		    AND
		    apply.gisu_id = #{gisu_id}
	</select>
	<!-- 지원 이력 조회 종료 -->
	
	<!-- 지원서 작성에 사용할 유저 정보 조회 시작 -->
	<select id="selectUserById" parameterType="string" resultType="User">
		select
			user_id
			,user_nm
			,user_phone
			,user_email
			,user_birth
			,user_sex
		from 
			com_user_tb
		where
			user_id = #{loginId}
	</select>
	<!-- 지원서 작성에 사용할 유저 정보 조회 종료 -->
	
	<select id="selectApplyResult" parameterType="String" resultType="Hashmap">
		<!-- SELECT
			gisu_id
		    ,stu_app_rt_doc
		    ,stu_app_rt_itv
		    ,DATE_FORMAT(stu_app_ins_dt, '%Y-%m-%d') as stu_app_ins_dt
		    ,DATE_FORMAT(stu_app_udt_dt, '%Y-%m-%d') as stu_app_udt_dt
			,course.name crc_nm
		    ,gisu.name gisu_nm
		    ,gisu.app_end_date
		FROM
			smtp_apply_form_tb form
		    ,cb_course course
		    ,cb_cardinal gisu
		WHERE
			course.id = form.crc_id
		    AND
		    gisu.id = form.gisu_id
		    AND
			user_id = #{user_id}; -->
		SELECT
		   gisu_id
		   ,stu_app_rt_doc
		   ,stu_app_rt_itv
		   ,DATE_FORMAT(stu_app_ins_dt, '%Y-%m-%d') as stu_app_ins_dt
		   ,DATE_FORMAT(stu_app_udt_dt, '%Y-%m-%d') as stu_app_udt_dt
		   ,course.name crc_nm
		   ,gisu.name gisu_nm
		   ,gisu.app_end_date
		   ,edu.PAY_CRC_SEQ
		    ,edu.PAY_CRC_START
		    ,edu.PAY_CRC_END
		    ,edu.PAY_CRC_AMOUNT
		FROM
		   smtp_apply_form_tb form
		left join
		   cb_course course
		on
		   course.id = form.crc_id
		left join
		   cb_cardinal gisu
		on
		   gisu.id = form.gisu_id
		left join
		   edu_curriculum_pay_tb edu
		on
		   edu.CARDINAL_ID = form.gisu_id
		and
		   (now() >= edu.PAY_CRC_START and edu.PAY_CRC_END >= now())
		WHERE
		   user_id = #{user_id}
	</select>
	
	<!-- 지원신청서 조회 시작 -->
	<resultMap type="hashmap" id="stuApplyMap">
		<id property="stu_app_seq" 						column="stu_app_seq" 					javaType="int"/>
		<result property="user_id" 						column="user_id" 						javaType="String"/>
		<result property="gisu_id" 						column="gisu_id" 						javaType="String"/>
		<result property="crc_id" 						column="crc_id" 						javaType="String"/>
		<result property="stu_app_nm" 					column="stu_app_nm" 					javaType="String"/>
		<result property="stu_app_birth" 				column="stu_app_birth" 					javaType="String"/>
		<result property="stu_app_gender" 				column="stu_app_gender" 				javaType="String"/>
		<result property="stu_app_mt_ck" 				column="stu_app_mt_ck" 					javaType="String"/>
		<result property="stu_app_mt_etc" 				column="stu_app_mt_etc" 				javaType="String"/>
		<result property="stu_app_zipcode" 				column="stu_app_zipcode" 				javaType="String"/>
		<result property="stu_app_addr" 				column="stu_app_addr" 					javaType="String"/>
		<result property="stu_app_addr_detail" 			column="stu_app_addr_detail" 			javaType="String"/>
		<result property="stu_app_phone" 				column="stu_app_phone" 					javaType="String"/>
		<result property="stu_app_em_phone" 			column="stu_app_em_phone" 				javaType="String"/>
		<result property="stu_app_email" 				column="stu_app_email" 					javaType="String"/>
		<result property="stu_app_photo_saved" 			column="stu_app_photo_saved" 			javaType="String"/>
		<result property="stu_app_photo_origin" 		column="stu_app_photo_origin" 			javaType="String"/>
		<result property="stu_app_edu_file_saved" 		column="stu_app_edu_file_saved" 		javaType="String"/>
		<result property="stu_app_edu_file_origin" 		column="stu_app_edu_file_origin" 		javaType="String"/>
		<result property="stu_app_isr_file_saved" 		column="stu_app_isr_file_saved" 		javaType="String"/>
		<result property="stu_app_isr_file_origin" 		column="stu_app_isr_file_origin" 		javaType="String"/>
		<result property="stu_app_imm_file_saved" 		column="stu_app_imm_file_saved" 		javaType="String"/>
		<result property="stu_app_imm_file_origin" 		column="stu_app_imm_file_origin" 		javaType="String"/>
        <result property="stu_app_worknet_file_saved" 	column="stu_app_worknet_file_saved" 	javaType="String"/>
        <result property="stu_app_worknet_file_origin" 	column="stu_app_worknet_file_origin" 	javaType="String"/>
        <result property="stu_app_ins_id" 				column="stu_app_ins_id" 				/>
        <result property="stu_app_ins_dt" 				column="stu_app_ins_dt" 				/>
        <result property="stu_app_udt_id" 				column="stu_app_udt_id" 				/>
        <result property="gisu_nm"						column="gisu_nm"						javaType="String"/>
        
		<collection property="eduHistoryList" javaType="java.util.ArrayList" resultMap="stuApplyEduHistory" />
		<collection property="careerList" javaType="java.util.ArrayList" resultMap="stuApplyCareer" />
		<collection property="studyList" javaType="java.util.ArrayList" resultMap="stuApplyStudy" />
		<collection property="languageList" javaType="java.util.ArrayList" resultMap="stuApplyLanguage" />
		<collection property="licenseList" javaType="java.util.ArrayList" resultMap="stuApplyLicense" />
		<collection property="sesList" javaType="java.util.ArrayList" resultMap="stuApplySes" />
		<collection property="kmoveList" javaType="java.util.ArrayList" resultMap="stuApplyKmove" />
		<collection property="overseasList" javaType="java.util.ArrayList" resultMap="stuApplyOverseas" />
		<collection property="introduceList" javaType="java.util.ArrayList" resultMap="stuApplyIntroduce" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyEduHistory">
		<id property="stu_app_edu_seq" 			column="stu_app_edu_seq" 	javaType="int"/>
		<result property="stu_app_edu_sc_nm" 	column="stu_app_edu_sc_nm" 	javaType="String"/>
		<result property="stu_app_edu_field" 	column="stu_app_edu_field" 	javaType="String"/>
		<result property="stu_app_edu_major" 	column="stu_app_edu_major" 	javaType="String"/>
		<result property="stu_app_edu_gd_ck" 	column="stu_app_edu_gd_ck" 	javaType="String"/>
		<result property="stu_app_edu_gd_dt" 	column="stu_app_edu_gd_dt" 	javaType="String"/>
		<result property="stu_app_edu_sc_lo" 	column="stu_app_edu_sc_lo" 	javaType="String"/>
		<result property="stu_app_edu_gd_rq" 	column="stu_app_edu_gd_rq" 	javaType="String"/>
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyCareer">
		<id property="stu_app_crr_seq"				column="stu_app_crr_seq" />
		<result property="stu_app_crr_place" 		column="stu_app_crr_place" />
		<result property="stu_app_crr_dept" 		column="stu_app_crr_dept" />
		<result property="stu_app_crr_position" 	column="stu_app_crr_position" />
		<result property="stu_app_crr_phone" 		column="stu_app_crr_phone" />
		<result property="stu_app_crr_st" 			column="stu_app_crr_st" />
		<result property="stu_app_crr_et" 			column="stu_app_crr_et" />
		<result property="stu_app_crr_description" 	column="stu_app_crr_description" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyStudy">
		<id property="stu_app_study_seq" column="stu_app_study_seq" />
		<result property="stu_app_study_nm" column="stu_app_study_nm" />
		<result property="stu_app_study_st" column="stu_app_study_st" />
		<result property="stu_app_study_et" column="stu_app_study_et" />
		<result property="stu_app_study_ag" column="stu_app_study_ag" />
		<result property="stu_app_study_detail" column="stu_app_study_detail" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyLanguage">
		<id property="stu_app_lang_seq" column="stu_app_lang_seq" />
		<result property="stu_app_lang_test_nm" column="stu_app_lang_test_nm" />
		<result property="stu_app_lang_grade" column="stu_app_lang_grade" />
		<result property="stu_app_lang_ag" column="stu_app_lang_ag" />
		<result property="stu_app_lang_note" column="stu_app_lang_note" />
		<result property="stu_app_lang_obtain_dt" column="stu_app_lang_obtain_dt" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyLicense">
		<id property="app_license_seq" column="stu_app_license_seq" />
		<result property="stu_app_license_nm" column="stu_app_license_nm" />
		<result property="stu_app_license_ag" column="stu_app_license_ag" />
		<result property="stu_app_license_obtain_dt" column="stu_app_license_obtain_dt" />
		<result property="stu_app_license_note" column="stu_app_license_note" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplySes">
		<id property="stu_app_ses_seq" column="stu_app_ses_seq" />
		<result property="stu_app_ses_ck" column="stu_app_ses_ck" />
		<result property="stu_app_ses_apply_dt" column="stu_app_ses_apply_dt" />
		<result property="stu_app_ses_apply_rt" column="stu_app_ses_apply_rt" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyKmove">
		<id property="stu_app_kmove_seq" column="stu_app_kmove_seq" />
		<result property="stu_app_kmove_ck" column="stu_app_kmove_ck" />
		<result property="stu_app_kmove_nm" column="stu_app_kmove_nm" />
		<result property="stu_app_kmove_ag" column="stu_app_kmove_ag" />
		<result property="stu_app_kmove_st" column="stu_app_kmove_st" />
		<result property="stu_app_kmove_et" column="stu_app_kmove_et" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyOverseas">
		<id property="stu_app_overseas_seq" column="stu_app_overseas_seq" />
		<result property="stu_app_overseas_ck" column="stu_app_overseas_ck" />
		<result property="stu_app_overseas_nm" column="stu_app_overseas_nm" />
		<result property="stu_app_overseas_st" column="stu_app_overseas_st" />
		<result property="stu_app_overseas_et" column="stu_app_overseas_et" />
		<result property="stu_app_overseas_purpose" column="stu_app_overseas_purpose" />
	</resultMap>
	
	<resultMap type="hashmap" id="stuApplyIntroduce">
		<id property="stu_app_introduce_seq" column="stu_app_introduce_seq" />
		<result property="stu_app_introduce_title" column="stu_app_introduce_title" />
		<result property="stu_app_introduce_detail" column="stu_app_introduce_detail" />
	</resultMap>

	<select id="selectSmtpApply" parameterType="hashmap" resultMap="stuApplyMap">
		SELECT
			form.stu_app_seq
			,form.user_id
			,form.gisu_id
			,form.crc_id
			,form.stu_app_nm
			,form.stu_app_birth
			,form.stu_app_gender
			,form.stu_app_mt_ck
			,form.stu_app_mt_etc
			,form.stu_app_zipcode
			,form.stu_app_addr
			,form.stu_app_addr_detail
            ,form.stu_app_phone
			,form.stu_app_em_phone
            ,form.stu_app_email
			,form.stu_app_photo_saved
			,form.stu_app_photo_origin
			,form.stu_app_edu_file_saved
			,form.stu_app_edu_file_origin
			,form.stu_app_isr_file_saved
			,form.stu_app_isr_file_origin
            ,form.stu_app_imm_file_saved
            ,form.stu_app_imm_file_origin
            ,form.stu_app_worknet_file_saved
            ,form.stu_app_worknet_file_origin
            ,form.stu_app_ins_id
            ,form.stu_app_ins_dt
            ,form.stu_app_udt_id
            ,gisu.name gisu_nm
			,eduhistory.stu_app_edu_seq
			,eduhistory.stu_app_edu_sc_nm
			,eduhistory.stu_app_edu_field
		    ,eduhistory.stu_app_edu_major
		    ,eduhistory.stu_app_edu_gd_ck
		    ,DATE_FORMAT(eduhistory.stu_app_edu_gd_dt, '%Y-%m-%d') as stu_app_edu_gd_dt
		    ,eduhistory.stu_app_edu_sc_lo
		    ,eduhistory.stu_app_edu_gd_rq
		    ,career.stu_app_crr_seq
		    ,career.stu_app_crr_place
            ,career.stu_app_crr_dept
		    ,career.stu_app_crr_position
		    ,career.stu_app_crr_phone
            ,DATE_FORMAT(career.stu_app_crr_st, '%Y-%m-%d') as stu_app_crr_st
		    ,DATE_FORMAT(career.stu_app_crr_et, '%Y-%m-%d') as stu_app_crr_et
            ,career.stu_app_crr_description
            ,study.stu_app_study_seq
		    ,study.stu_app_study_nm
		    ,DATE_FORMAT(study.stu_app_study_st, '%Y-%m-%d') as stu_app_study_st
		    ,DATE_FORMAT(study.stu_app_study_et, '%Y-%m-%d') as stu_app_study_et
		    ,study.stu_app_study_ag
		    ,study.stu_app_study_detail
			,language.stu_app_lang_seq
		    ,language.stu_app_lang_test_nm
		    ,language.stu_app_lang_grade
		    ,language.stu_app_lang_ag
		    ,DATE_FORMAT(language.stu_app_lang_obtain_dt, '%Y-%m-%d') as stu_app_lang_obtain_dt
			,language.stu_app_lang_note
		    ,license.stu_app_license_seq
		    ,license.stu_app_license_nm
		    ,license.stu_app_license_ag
		    ,DATE_FORMAT(license.stu_app_license_obtain_dt, '%Y-%m-%d') as stu_app_license_obtain_dt
		    ,license.stu_app_license_note
            ,ses.stu_app_ses_seq
            ,ses.stu_app_ses_ck
            ,DATE_FORMAT(ses.stu_app_ses_apply_dt, '%Y-%m-%d') as stu_app_ses_apply_dt
            ,ses.stu_app_ses_apply_rt
			,kmove.stu_app_kmove_seq
            ,kmove.stu_app_kmove_ck
            ,kmove.stu_app_kmove_nm
            ,kmove.stu_app_kmove_ag
            ,DATE_FORMAT(kmove.stu_app_kmove_st, '%Y-%m-%d') as stu_app_kmove_st
		    ,DATE_FORMAT(kmove.stu_app_kmove_et, '%Y-%m-%d') as stu_app_kmove_et
		    ,overseas.stu_app_overseas_seq
            ,overseas.stu_app_overseas_ck
		    ,overseas.stu_app_overseas_nm
		    ,DATE_FORMAT(overseas.stu_app_overseas_st, '%Y-%m-%d') as stu_app_overseas_st
		    ,DATE_FORMAT(overseas.stu_app_overseas_et, '%Y-%m-%d') as stu_app_overseas_et
		    ,overseas.stu_app_overseas_purpose
            ,introduce.stu_app_introduce_seq
            ,introduce.stu_app_introduce_title
            ,introduce.stu_app_introduce_detail
		FROM
			smtp_apply_form_tb form 
		LEFT JOIN smtp_app_eduhistory_tb eduhistory
		ON
			form.stu_app_seq = eduhistory.stu_app_seq
            
		LEFT JOIN smtp_app_career_tb career
		ON
			form.stu_app_seq = career.stu_app_seq
        
		LEFT JOIN smtp_app_study_tb study
		ON
			form.stu_app_seq = study.stu_app_seq
		
        LEFT JOIN smtp_app_language_tb language
		ON
			form.stu_app_seq = language.stu_app_seq
        LEFT JOIN smtp_app_license_tb license
		ON
			form.stu_app_seq = license.stu_app_seq
        LEFT JOIN smtp_app_ses_tb ses
		ON
			form.stu_app_seq = ses.stu_app_seq
		LEFT JOIN smtp_app_kmove_tb kmove
		ON
			form.stu_app_seq = kmove.stu_app_seq
            
		LEFT JOIN smtp_app_overseas_tb overseas
		ON
			form.stu_app_seq = overseas.stu_app_seq
		
		LEFT JOIN smtp_app_introduce_tb introduce
		ON
			form.stu_app_seq = introduce.stu_app_seq
		
		LEFT JOIN cb_cardinal gisu
		ON
			form.gisu_id = gisu.id
			
		WHERE
			user_id = #{user_id}
		AND
			gisu_id = #{gisu_id}
	</select>
	<!-- 지원신청서 조회 종료 -->
	
	<!-- 지원신청서 삭제 시작 -->
	<delete id="deleteSmtpApplyForm" parameterType="hashmap">
		DELETE FROM
			smtp_apply_form_tb
		WHERE
			gisu_id = #{gisu_id}
			AND
			user_id = #{user_id}
	</delete>
	<!-- 지원신청서 삭제 종료 -->
	
	<!--  지원신청서 폼 등록 시작 -->
	<insert id="insertStuApplyForm" parameterType="SSAForm" useGeneratedKeys="true" keyProperty="stu_app_seq">
		insert into 
			SMTP_APPLY_FORM_TB
			(
				stu_app_seq
				,user_id
				,gisu_id
				,crc_id
				,stu_app_nm
				,stu_app_birth
				,stu_app_gender
				,stu_app_mt_ck
				<if test="@global.segroup.util.Comparator@isNotEmpty(stu_app_mt_etc)">
				,stu_app_mt_etc
				</if>
				,stu_app_zipcode
				,stu_app_addr
				,stu_app_addr_detail
				,stu_app_phone
				<if test="@global.segroup.util.Comparator@isNotEmpty(stu_app_em_phone)">
				,stu_app_em_phone
				</if>
				,stu_app_email
				,stu_app_photo_saved
				,stu_app_photo_origin
				<if test="stu_app_edu_file_saved != null and stu_app_edu_file_origin != null">
				,stu_app_edu_file_saved
				,stu_app_edu_file_origin
				</if>
				<if test="stu_app_isr_file_saved != null and stu_app_isr_file_origin != null">
				,stu_app_isr_file_saved
				,stu_app_isr_file_origin
				</if>
                <if test="stu_app_imm_file_saved != null and stu_app_imm_file_origin != null">
                ,stu_app_imm_file_saved
                ,stu_app_imm_file_origin
                </if>
                <if test="stu_app_worknet_file_saved != null and stu_app_worknet_file_origin != null">
                ,stu_app_worknet_file_saved
                ,stu_app_worknet_file_origin
                </if>
				,stu_app_ins_id
				,stu_app_ins_dt
				,stu_app_udt_id
				,stu_app_udt_dt
			) values (
				(SELECT IFNULL(MAX(stu_app_seq),0)+1 FROM smtp_apply_form_tb apply)
				,#{user_id}
				,#{gisu_id}
				,#{crc_id}
				,#{stu_app_nm}
				,#{stu_app_birth}
				,#{stu_app_gender}
				,#{stu_app_mt_ck}
				<if test="@global.segroup.util.Comparator@isNotEmpty(stu_app_mt_etc)">
				,#{stu_app_mt_etc}
				</if>
				,#{stu_app_zipcode}
				,#{stu_app_addr}
				,#{stu_app_addr_detail}
				,#{stu_app_phone}
				<if test="@global.segroup.util.Comparator@isNotEmpty(stu_app_em_phone)">
				,#{stu_app_em_phone}
				</if>
				,#{stu_app_email}
				,#{stu_app_photo_saved}
				,#{stu_app_photo_origin}
				<if test="stu_app_edu_file_saved != null and stu_app_edu_file_origin != null">
				,#{stu_app_edu_file_saved}
				,#{stu_app_edu_file_origin}
				</if>
				<if test="stu_app_isr_file_saved != null and stu_app_isr_file_origin != null">
				,#{stu_app_isr_file_saved}
				,#{stu_app_isr_file_origin}
				</if>
                <if test="stu_app_imm_file_saved != null and stu_app_imm_file_origin != null">
                ,#{stu_app_imm_file_saved}
                ,#{stu_app_imm_file_origin}
                </if>
                <if test="stu_app_worknet_file_saved != null and stu_app_worknet_file_origin != null">
                ,#{stu_app_worknet_file_saved}
                ,#{stu_app_worknet_file_origin}
                </if>
				,#{stu_app_ins_id}
				<if test="@global.segroup.util.Comparator@isNotEmpty(stu_app_ins_dt_forupdate)">
				,now()
				<!-- ,#{stu_app_ins_dt_forupdate} 수정할 것-->
				</if>
				<if test="@global.segroup.util.Comparator@isEmpty(stu_app_ins_dt_forupdate)">
				,now()
				</if>
				,#{stu_app_udt_id}
				,now()
			)
	</insert>
	<!--  지원신청서 폼 등록 종료 -->
	
	<!--  지원신청서 학력사항 등록 시작 -->
	<insert id="insertStuApplyEduHistory" parameterType="hashmap">
		insert into
			SMTP_APP_EDUHISTORY_TB
				(
					stu_app_seq,
					stu_app_edu_sc_nm,
					stu_app_edu_field,
					stu_app_edu_major,
					stu_app_edu_gd_ck,
					stu_app_edu_gd_dt,
					stu_app_edu_sc_lo,
					stu_app_edu_gd_rq,
					stu_app_edu_ins_id,
					stu_app_edu_ins_dt,
					stu_app_edu_udt_id,
					stu_app_edu_udt_dt
				)values
				<foreach item="eduHistory" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{eduHistory.stu_app_edu_sc_nm},
					#{eduHistory.stu_app_edu_field},
					#{eduHistory.stu_app_edu_major},
					#{eduHistory.stu_app_edu_gd_ck},
					#{eduHistory.stu_app_edu_gd_dt},
					#{eduHistory.stu_app_edu_sc_lo},
					#{eduHistory.stu_app_edu_gd_rq},
					#{user_id},
					now(),
					#{user_id},
					now()	
				)
				</foreach>
	</insert>
	<!--  지원신청서 학력사항 등록 종료 -->
	
	<!--  지원신청서 경력사항 등록 시작 -->
	<insert id="insertStuApplyCareer" parameterType="hashmap">
		insert into
			SMTP_APP_CAREER_TB
				(
					stu_app_seq,
					stu_app_crr_place,
					stu_app_crr_dept,
					stu_app_crr_position,
					stu_app_crr_phone,
					stu_app_crr_st,
					stu_app_crr_et,
					stu_app_crr_description,
					stu_app_crr_ins_id,
					stu_app_crr_ins_dt,
					stu_app_crr_udt_id,
					stu_app_crr_udt_dt
				)values
				<foreach item="career" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{career.stu_app_crr_place},
					#{career.stu_app_crr_dept},
					#{career.stu_app_crr_position},
					#{career.stu_app_crr_phone},
					#{career.stu_app_crr_st},
					#{career.stu_app_crr_et},
					#{career.stu_app_crr_description},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 경력사항 등록 종료 -->
	
	<!--  지원신청서 교육이수 등록 시작 -->
	<insert id="insertStuApplyStudy" parameterType="hashmap">
		insert into
			SMTP_APP_STUDY_TB
				(
					stu_app_seq,
					stu_app_study_nm,
					stu_app_study_st,
					stu_app_study_et,
					stu_app_study_ag,
					stu_app_study_detail,
					stu_app_study_ins_id,
					stu_app_study_ins_dt,
					stu_app_study_udt_id,
					stu_app_study_udt_dt
				)values
				<foreach item="study" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{study.stu_app_study_nm},
					#{study.stu_app_study_st},
					#{study.stu_app_study_et},
					#{study.stu_app_study_ag},
					#{study.stu_app_study_detail},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 교육이수 등록 종료 -->
	
	<!--  지원신청서 언어능력 등록 시작 -->
	<insert id="insertStuApplyLanguage" parameterType="hashmap">
		insert into
			SMTP_APP_LANGUAGE_TB
				(
					stu_app_seq,
					stu_app_lang_test_nm,
					stu_app_lang_grade,
					stu_app_lang_ag,
					stu_app_lang_obtain_dt,
					stu_app_lang_note,
					stu_app_lang_ins_id,
					stu_app_lang_ins_dt,
					stu_app_lang_udt_id,
					stu_app_lang_udt_dt
				)values
				<foreach item="language" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{language.stu_app_lang_test_nm},
					#{language.stu_app_lang_grade},
					#{language.stu_app_lang_ag},
					#{language.stu_app_lang_obtain_dt},
					#{language.stu_app_lang_note},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 언어능력 등록 종료 -->
	
	<!--  지원신청서 자격증 등록 시작 -->
	<insert id="insertStuApplyLicense" parameterType="hashmap">
		insert into
			SMTP_APP_LICENSE_TB
				(
					stu_app_seq,
					stu_app_license_nm,
					stu_app_license_ag,
					stu_app_license_obtain_dt,
					stu_app_license_note,
					stu_app_license_ins_id,
					stu_app_license_ins_dt,
					stu_app_license_udt_id,
					stu_app_license_udt_dt
				)values
				<foreach item="license" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{license.stu_app_license_nm},
					#{license.stu_app_license_ag},
					#{license.stu_app_license_obtain_dt},
					#{license.stu_app_license_note},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 자격증 등록 종료 -->
	
	<!--  지원신청서 본과정 응시 여부 등록 시작 -->
	<insert id="insertStuApplySes" parameterType="hashmap">
		insert into
			SMTP_APP_SES_TB
				(
					stu_app_seq,
					stu_app_ses_ck,
					stu_app_ses_apply_dt,
					stu_app_ses_apply_rt,
					stu_app_ses_ins_id,
					stu_app_ses_ins_dt,
					stu_app_ses_udt_id,
					stu_app_ses_udt_dt
				)values
				<foreach item="ses" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{ses.stu_app_ses_ck},
					#{ses.stu_app_ses_apply_dt},
					#{ses.stu_app_ses_apply_rt},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 본과정 응시 여부 등록 종료 -->
	
	<!--  지원신청서 Kmove 참여 여부 등록 시작 -->
	<insert id="insertStuApplyKmove" parameterType="hashmap">
		insert into
			SMTP_APP_KMOVE_TB
				(
					stu_app_seq,
					stu_app_kmove_ck,
					stu_app_kmove_nm,
					stu_app_kmove_ag,
					stu_app_kmove_st,
					stu_app_kmove_et,
					stu_app_kmove_ins_id,
					stu_app_kmove_ins_dt,
					stu_app_kmove_udt_id,
					stu_app_kmove_udt_dt
				)values
				<foreach item="kmove" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{kmove.stu_app_kmove_ck},
					#{kmove.stu_app_kmove_nm},
					#{kmove.stu_app_kmove_ag},
					#{kmove.stu_app_kmove_st},
					#{kmove.stu_app_kmove_et},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 Kmove 참여 여부 등록 종료 -->
	
	<!--  지원신청서 해외체류 등록 시작 -->
	<insert id="insertStuApplyOverseas" parameterType="hashmap">
		insert into
			SMTP_APP_OVERSEAS_TB
				(
					stu_app_seq,
					stu_app_overseas_ck,
					stu_app_overseas_nm,
					stu_app_overseas_st,
					stu_app_overseas_et,
					stu_app_overseas_purpose,
					stu_app_overseas_ins_id,
					stu_app_overseas_ins_dt,
					stu_app_overseas_udt_id,
					stu_app_overseas_udt_dt
				)values
				<foreach item="overseas" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{overseas.stu_app_overseas_ck},
					#{overseas.stu_app_overseas_nm},
					#{overseas.stu_app_overseas_st},
					#{overseas.stu_app_overseas_et},
					#{overseas.stu_app_overseas_purpose},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 해외체류 등록 종료 -->

	<!--  지원신청서 자기소개서 등록 시작 -->
	<insert id="insertStuApplyIntroduce" parameterType="hashmap">
		insert into
			SMTP_APP_INTRODUCE_TB
				(
					stu_app_seq,
					stu_app_introduce_title,
					stu_app_introduce_detail,
					stu_app_introduce_ins_id,
					stu_app_introduce_ins_dt,
					stu_app_introduce_udt_id,
					stu_app_introduce_udt_dt
				)values
				<foreach item="introduce" index="index" collection="list" open=" " separator="," close=" ">
				(
					#{stu_app_seq},
					#{introduce.stu_app_introduce_title},
					#{introduce.stu_app_introduce_detail},
					#{user_id},
					now(),
					#{user_id},
					now()
				)
				</foreach>
	</insert>
	<!--  지원신청서 자기소개서 등록 종료 -->
	
	<!-- 지원자 입과테이블에 등록 여부 확인 시작-->
	<select id="checkLearnApp" parameterType="SSAForm" resultType="int">
		SELECT
			COUNT(*)
		FROM 
			cb_learn_app
		WHERE 
			user_id = #{user_id}
		    AND
		    cardinal_id = #{gisu_id}
	</select>
	<!-- 지원자 입과테이블에 등록 여부 확인 종료-->
	
	<!-- 지원자 정보 입과테이블에 등록 (입과여부 : null) -->
	<insert id="insertLearnApp" parameterType="SSAForm">
		INSERT INTO 
			cb_learn_app(
				user_id
		        ,course_id
		        ,cardinal_id
			) VALUES(
				#{user_id}
		        ,#{crc_id}
		        ,#{gisu_id}
		    )
	</insert>
	<!-- 지원자 정보 입과테이블에 등록 종료 -->
	
	<select id="compareForm" parameterType="String" resultType="String">
		SELECT 
			APPLYFORM_YN
		FROM 
			CB_COURSE
		WHERE
			#{subject} = NAME
	</select>
	
</mapper>