<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classic | Fullpage</title>
    <meta name="description" content="Multipurpose fullPage and fullscreen HTML5 and CSS3 template based on the alvarotrigo.com's plugin.">
    <script src="./resources/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="./resources/scripts/bootstrap/css/bootstrap.css">
    <script src="./resources/scripts/script.js"></script>
    <link rel="stylesheet" href="./resources/style.css">
    <link rel="stylesheet" href="./resources/css/content-box.css">
    <link rel="stylesheet" href="./resources/css/image-box.css">
    <link rel="stylesheet" href="./resources/css/animations.css">
    <link rel="stylesheet" href='./resources/css/components.css'>
    <link rel="stylesheet" href='./resources/scripts/flexslider/flexslider.css'>
    <link rel="stylesheet" href='./resources/scripts/magnific-popup.css'>
    <link rel="stylesheet" href='./resources/scripts/php/contact-form.css'>
    <link rel="stylesheet" href='./resources/scripts/jquery.fullPage.css'>
    <link rel="icon" href="./resources/images/favicon.png">
    <link rel="stylesheet" href="./resources/skin.css">
    <!-- Extra optional content header -->
</head>
<body>
    <div id="preloader"></div>
    <header class="fixed-top bg-transparent menu-transparent" data-menu-anima="fade-in">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="./resources/images/classic/logo.png" alt="logo" /></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="active">
                                    <a href="#">Demos</a>
                                </li>
                                <li class="active">
                                    <a href="#">Two sides</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav lan-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="./resources/images/en.png" alt="" />En<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><img src="./resources/images/it.png" alt="" />IT</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="fullpage-varrow varrow-circle right">
        <div class="arrow down"><span>GO DOWN</span><i class="fa fa-angle-down"></i></div>
    </nav>
    <nav id="fullpage-menu" class="fullpage-menu menu-dots">
        <ul>
            <li>
                <a data-toggle="tooltip" data-placement="left" title="Welcome"></a>
            </li>
            <li>
                <a data-toggle="tooltip" data-placement="left" title="Preview"></a>
            </li>
            <li>
                <a data-toggle="tooltip" data-placement="left" title="Specifications"></a>
            </li>
            <li>
                <a data-toggle="tooltip" data-placement="left" title="Contacts"></a>
            </li>
        </ul>
    </nav>
    <div id="fullpage-main" data-options="verticalCentered:false" data-offset="-30">
        <div class="section overlay-container" style="background-image:url('./resources/images/classic/hd-1.jpg');">
            <div class="container content box-middle">
                <div class="row vertical-row">
                    <div class="col-md-6 col-sm-12">
                        <div class="flexslider slider nav-inner visible-dir-nav" data-options="controlNav:false,directionNav:true,animation:fade">
                            <ul class="slides">
                                <li>
                                    <a class="img-box thumbnail lightbox" href="./resources/images/classic/image-2.jpg" data-lightbox-anima="fade-right">
                                        <span>
                                            <img src="./resources/images/classic/image-2.jpg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box thumbnail lightbox" href="./resources/images/classic/image-3.jpg" data-lightbox-anima="fade-right">
                                        <span>
                                            <img src="./resources/images/classic/image-3.jpg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box thumbnail lightbox" href="./resources/images/classic/image-1.jpg" data-lightbox-anima="fade-right">
                                        <span>
                                            <img src="./resources/images/classic/image-1.jpg" alt="">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="title-base text-left title-color-2">
                            <hr />
                            <h2>WONDERFUL FULLPAGE WORLD</h2>
                            <p>Assemble your website with copy and paste</p>
                        </div>
                        <p class="color-3">
                            Rem mollit senectus pede consequuntur omnis quas nunc natoque lorem est fusce deserunt orci nostra hic! Deserunt pulvinar fugit anim esse?
                            Non quibusdam quibusdam provident. Bibendum exercitationem reprehenderit pharetra lorem necessitatibus, taciti, pariatur, facilisi tempus,
                            sequi tincidunt! Eligendi officia, quo, blandit iure doloremque.
                        </p>
                        <hr class="space s" />
                        <a href="#" class="circle-button btn btn-sm">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container" style="background-image:url('./resources/images/classic/hd-2.jpg');">
            <div class="container content box-middle">
                <div class="title-base title-color-2">
                    <hr />
                    <h2>SKILLS AND SERVICES</h2>
                    <p>A combination of passion, dediciton and hard work</p>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p class="progress-label">Web strategy</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="85">
                                <span><span>85%</span></span>
                            </div>
                        </div>
                        <hr class="space m">
                        <p class="progress-label">Project management</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="90">
                                <span><span>90%</span></span>
                            </div>
                        </div>
                        <hr class="space m">
                        <p class="progress-label">Support</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="100">
                                <span><span>100%</span></span>
                            </div>
                        </div>
                        <hr class="space m">
                        <p class="progress-label">Video editing</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="90">
                                <span><span>90%</span></span>
                            </div>
                        </div>
                    </div>
                    <hr class="space visible-sm" />
                    <div class="col-md-6 col-sm-12">
                        <p class="progress-label">Web Development</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="75">
                                <span><span>75%</span></span>
                            </div>
                        </div>
                        <hr class="space m">
                        <p class="progress-label">Interior design</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="60">
                                <span><span>60%</span></span>
                            </div>
                        </div>
                        <hr class="space m">
                        <p class="progress-label">Web design</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="95">
                                <span><span>95%</span></span>
                            </div>
                        </div>
                        <hr class="space m">
                        <p class="progress-label">Coding</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="80">
                                <span><span>80%</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container" style="background-image:url('./resources/images/classic/hd-3.jpg');">
            <div class="container content box-middle">
                <p class="block-quote quote-1 quote-color-2">
                    It is better to lead from behind and to put others in front,
                    especially when you celebrate victory when nice things occur.
                    You take the front line when there is danger. Then people will appreciate your leadership.
                    <span class="quote-author">- Elvis spresley</span>
                </p>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                            <i class="im-pen-3 icon circle anima"></i>
                            <h3>Elon Design</h3>
                            <p>
                                Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex fuga platea eveniet pulvinar praesent
                            </p>
                            <a class="btn-text" href="#">Read more</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                            <i class="im-compass icon circle anima"></i>
                            <h3>Simple and clean</h3>
                            <p>
                                Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex fuga platea eveniet pulvinar praesent
                            </p>
                            <a class="btn-text" href="#">Read more</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                            <i class="im-checked-user icon circle anima"></i>
                            <h3>Happy clients</h3>
                            <p>
                                Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex fuga platea eveniet pulvinar praesent
                            </p>
                            <a class="btn-text" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container section-bg-color" style="background-image:url('./resources/images/classic/hd-4.jpg');">
            <div class="container content box-middle">
                <div class="row proporzional-row">
                    <div class="col-md-3 boxed-inverse">
                        <h4 class="text-m">ADDRESS</h4>
                        <hr class="space xs" />
                        <p>
                            05, Martin Street<br />
                            Orange C, California<br />
                            United States of America
                        </p>
                        <hr class="space s" />
                        <h4 class="text-m">CONTACTS</h4>
                        <hr class="space xs" />
                        <ul class="fa-ul">
                            <li><i class="fa-li im-email"></i> shop@info.com</li>
                            <li><i class="fa-li im-phone"></i> (320) 333548002</li>
                            <li><i class="fa-li im-calendar"></i> M-F 9AM-5PM</li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="google-map shadow-1" data-skin="" data-address="London" data-marker="http://templates.framework-y.com/elon/images/marker-map.png"></div>
                    </div>
                    <hr class="space visible-sm" />
                    <div class="col-md-4 col-sm-12">
                        <h4 class="text-m">CONTACT US NOW</h4>
                        <hr class="space s" />
                        <p class="font-2 color-3">
                           We not do spam doloribus per excepturi? Magnam, ipsam laboriosam! Vero etiam.
                        </p>
                        <hr class="space m" />
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="name" name="name" placeholder="Name" type="text" class="form-control form-value" required>
                                </div>
                                <div class="col-md-6">
                                    <input id="email" name="email" placeholder="Email" type="email" class="form-control form-value" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr class="space m" />
                                    <input id="phone" name="phone" placeholder="Phone" type="text" class="form-control form-value">
                                    <hr class="space m" />
                                    <textarea id="messagge" name="messagge" placeholder="Type here your message" class="form-control form-value" required></textarea>
                                    <hr class="space m" />
                                    <button class="anima-button circle-button btn-sm btn" type="submit"><i class="im-mail-send"></i>Send messagge</button>
                                </div>
                            </div>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-base">
        <link rel="stylesheet" href="./resources/scripts/iconsmind/line-icons.min.css">
        <script async src="./resources/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src='./resources/scripts/google.maps.min.js'></script>
        <script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
        <script type="text/javascript" src="./resources/scripts/imagesloaded.min.js"></script>
        <script type="text/javascript" src="./resources/scripts/parallax.min.js"></script>
        <script type="text/javascript" src='./resources/scripts/flexslider/jquery.flexslider-min.js'></script>
        <script type="text/javascript" async src='./resources/scripts/isotope.min.js'></script>
        <script type="text/javascript" async src='./resources/scripts/php/contact-form.js'></script>
        <script type="text/javascript" async src='./resources/scripts/jquery.progress-counter.js'></script>
        <script type="text/javascript" async src='./resources/scripts/jquery.tab-accordion.js'></script>
        <script type="text/javascript" async src="./resources/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script type="text/javascript" async src="./resources/scripts/jquery.magnific-popup.min.js"></script>
        <script src='./resources/scripts/jquery.fullPage.min.js'></script>
        <script src='./resources/scripts/social.stream.min.js'></script>
    </footer>
</body>
</html>
