<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SEGroup 공통 기능 SQL -->
<mapper namespace="global.segroup.dao.SEGroupCommonMapper">

<select id="selectCodeName" parameterType="HashMap" resultType="String">
	select
		<if test="locale == 'ko'">
			cct.CODE_NM
		</if>
		<if test="locale == 'ja'">
			cct.CODE_NM_JA
		</if>
		<if test="locale == 'en'">
			cct.CODE_NM_EN
		</if>
	from
		COM_CODE_GROUP_TB ccgt,
		COM_CODE_TB cct
	where
		ccgt.GROUP_ID = cct.GROUP_ID
		and
		ccgt.GROUP_ID = #{group_id}
		and
		cct.CODE = #{code}
</select>

<!-- 특정 회원의 회원등급 변경 시작 -->

<update id="updateUserFlag" parameterType="HashMap">
	update
		COM_USER_TB
	set
		USER_FLAG = #{user_flag}
	where
		USER_ID = #{user_id}
</update>

<!-- 특정 회원의 회원등급 변경 종료 -->

<!-- 특정 회원 정보 검색 시작 -->
<select id="selectUser" parameterType="User" resultType="User">
	select
		user_id,
		user_pw,
		user_nm,
		user_phone,
		user_email,
		user_birth,
		user_sex,
		user_flag,
		user_state,
		user_terms_ck
	from
		COM_USER_TB
	<where>
		<if test="user_id != null">
			user_id = #{user_id}
		</if>
		<if test="user_nm != null">
			and user_nm = #{user_nm}
		</if>
		<if test="user_email != null">
			and user_email = #{user_email}
		</if>
		<if test="user_pw != null">
			and user_pw = #{user_pw}
		</if>
	</where>
</select>
<!-- 특정 회원 정보 검색 종료 -->

<!-- 전체 회원 정보 검색 시작 -->
<select id="selectUserAll" resultType="User">
	select
		user_id,
		user_pw,
		user_nm,
		user_phone,
		user_email,
		user_birth,
		user_sex,
		user_flag,
		user_state
	from
		COM_USER_TB
</select>
<!-- 전체 회원 정보 검색 종료 -->

<!-- 관리자 정보 검색 시작 -->
<select id="selectAdmin" parameterType="string" resultType="Admin">
	select
		admin_id,
		admin_pw,
		admin_nm,
		admin_grade,
		admin_state,
		admin_project,
		DATE_FORMAT(admin_expired_st, '%Y-%m-%d') as admin_expired_st,
		DATE_FORMAT(admin_expired_et, '%Y-%m-%d') as admin_expired_et
	from
		COM_ADMIN_TB
	where
		admin_id = #{admin_id}
</select>
<!-- 관리자 정보 검색 종료 -->

<!-- 인증 코드 정보 검색 시작 -->
<select id="selectCertificationCode" parameterType="CertificationCode" resultType="CertificationCode">
	SELECT
		certification_code,
		user_id,
		certification_ck_st,
		certification_ck_et
	FROM
		COM_CERTIFICATION_CODE_TB
	<where>
		<if test="certification_code != 0">
			<![CDATA[
			certification_ck_st <= now()
			and certification_ck_et >= now()
			]]>
			and certification_code = #{certification_code}
		</if>
		<if test="user_id != null">
			and user_id = #{user_id}
		</if>
	</where>
</select>
<!-- 인증 코드 정보 검색 종료 -->

<!-- 인증 코드 정보 추첨 시작 -->
<select id="chooseCertificationCode" resultType="CertificationCode">
	SELECT
		certification_code
	FROM
		COM_CERTIFICATION_CODE_TB
	WHERE
		<![CDATA[
		certification_ck_et < now()
		OR
		certification_ck_et = null
		]]>
		and
		user_id = NULL
	ORDER BY
		rand()
	LIMIT 1
</select>
<!-- 인증 코드 정보 추첨 종료 -->

<!-- 인증 코드 정보 갱신 시작 -->
<update id="updateCertificationCode" parameterType="CertificationCode">
	UPDATE
		COM_CERTIFICATION_CODE_TB
	SET
	<choose>
		<when test="user_id == null">
			user_id = NULL,
			certification_ck_st = '0000-00-00 00:00:00',
			certification_ck_et = '0000-00-00 00:00:00'
		</when>
		<otherwise>
			user_id = #{user_id},
			certification_ck_st = now(),
			certification_ck_et =  DATE_ADD(now(), INTERVAL 3 MINUTE)
		</otherwise>
	</choose>
	<where>
		<choose>
			<when test="certification_code != null">
				certification_code = #{certification_code}
			</when>
			<when test="user_id != null">
				AND user_id = #{user_id}
			</when>
		</choose>
	</where>
</update>
<!-- 인증 코드 정보 갱신 종료 -->

</mapper>